[2020-06-11 04:52] #157 closed

[2020-06-11 17:48] itzamna314 commented on #159
Alignment team (?), Kyl Wellman, Unaffiliated
itsawmna314@gmail.com
Thanks!

[2020-06-11 18:32] taltman commented on #159
I edited the description directly. Thanks!

[2020-06-11 22:27] nevetsmallah commented on #159
Hi Artem,

Thanks for reaching out here. Not sure how I should be represented here…

I think I am part of the overall Project team and have been involved in aspects of the Assembly and Annotation team although more in an advisory role with my students participating in the project.

Steven J. Hallam
University of British Columbia, Department of Microbiology & Immunology
shallam@mail.ubc.ca<mailto:s

[2020-06-13 17:49] rcedgar commented on #144
JB181528.1 probably non-Cov, see SRR1055720 (good coverage of JB181528.1 but not mprot).

[2020-06-13 20:52] lohrd commented on #159
Serratus Web/Wiki Team, Dan Lohr,  Unaffiliated. danlohra AT gmail DOT com, @lohrd

[2020-06-13 21:50] ababaian commented on #159
Closed by: https://github.com/ababaian/serratus/blob/master/CONTRIBUTORS.md

Just comment here and  `@` me to be added to the list.

[2020-06-13 21:50] #159 closed

[2020-06-14 02:42] jefftaylor42 commented on #158
Having a hard time following all the biology talk.  I appreciate that you've taken performance into account.  In the future it would also be super useful if you could also include user/sys time when measuring compute.

For single-threaded, CPU-bound programs these will be comparable (user ~= real), but for multi-thread CPU-bound or non-CPU-bound programs these will be very different.  Knowing whic

[2020-06-14 02:48] jefftaylor42 commented on #158
Also, maybe you did this, but I didn't see it mentioned.  When gathering timing information, you should aim to run each test multiple times.  The first run will almost always be the slowest, since the data is cold and needs to be pulled from disk.

[2020-06-16 03:40] rcedgar opened #162 "First 1k assembler targets"
Master tsv file for fist 1k assembler targets here:

[https://serratus-public.s3.amazonaws.com/rce/assembly/assembly_targets_first_1k.tsv](https://serratus-public.s3.amazonaws.com/rce/assembly/assembly_targets_first_1k.tsv)

Fields in the tsv file are:

1. SRA
2. Summarizer score
3. PctId with top reference sequence
4. Number of bowtie2 alignments
5. Read length
6. SINGLE/PAIRED

These are designe

[2020-06-16 06:49] asl commented on #162
The TSV seems to be broken:
[code]

Also, there are plenty of datasets with reads of 50 bp and even 36 bp (!). I would strongly suggest to ignore everything < 100 bp.

[2020-06-16 06:53] asl commented on #162
These look suspicious as well:

[code]

So... Illumina with 500 bp reads? How this is possible? :)

[2020-06-16 08:32] rchikhi commented on #130
I've added coronaSPAdes results to https://github.com/ababaian/serratus/wiki/Assembly-benchmark-results-for-8-coronavirus-candidates-datasets

[2020-06-16 08:33] rchikhi commented on #130
commentary: looks real good, especially on Ginger, probably the best method so far

[2020-06-16 08:40] asl commented on #130
@rchikhi The assemblies are fragmented on low coverage datasets. So we don't have strong matches for HMM-based approaches. And checkv had some thresholds as well (I believe it won't report anything useful to contigs < 4 kbp)

[2020-06-16 08:42] rchikhi commented on #130
sounds fair! well, CheckV did manage to get hits on small (200-300bp) Megahit/minia contigs

[2020-06-16 13:46] rcedgar commented on #162
Difficult to impossible datasets are included by design because we want to better understand what can (can cannot) be assembled best case. Very short reads could be assembled by reference-guided alignment. I would not be surprised if there are some errors in the meta-data fields after the SRA accession, e.g. due to errors in the SRA and errors parsing the RunInfo files (csv format is a non-standar

[2020-06-16 15:17] rcedgar commented on #162
Assemblies should be uploaded to `s3://serratus-public/` as follows:

Contigs should be in FASTA format under `assemblies/contigs/SRAxxxx.yyyy.fasta`, where xxx is the SRA accession number and yyyy is the name of the assembly method. If the same assembler is used by different teams, each team should use a different yyyy name. This should include CoV contigs only, contigs for host and other virus f

[2020-06-16 23:13] ababaian commented on #71
Good to close for now?

[2020-06-16 23:14] ababaian commented on #94
Good to close for now?

[2020-06-16 23:14] rcedgar commented on #71
Yes.

[2020-06-16 23:14] #71 closed

[2020-06-16 23:14] ababaian commented on #136
Good to close for now? We put this on the back-burner until we have more time to dedicate.

[2020-06-16 23:15] ababaian commented on #97
Good to close for now?

[2020-06-16 23:16] rcedgar commented on #94
Sure. I think we may revisit this for short reads/low coverage. SNW.

[2020-06-16 23:16] #94 closed

[2020-06-16 23:16] ababaian commented on #93
Good to close for now?

[2020-06-16 23:30] McGlock commented on #97
Yes I believe so, after input from Tomer and the SPAdes crew, I don't think
this is needed.

On Tue, Jun 16, 2020 at 4:15 PM Artem Babaian <notifications@github.com>
wrote:

--
Ryan J. McLaughlin, MSc

e1: mclaughlinr2@gmail.com
c: 814.758.4570
linkedin
<https://www.linkedin.com/in/ryan-mclaughlin-725b09117/>

[2020-06-16 23:33] #97 closed

[2020-06-16 23:34] ababaian commented on #53
Currently there are two relevant S3 buckets:
- The work or scratch bucket is defined at boot-up in [`terraform/bucket/main.tf`](https://github.com/ababaian/serratus/blob/master/terraform/bucket/main.tf)
- There is the static `s3://serratus-public/` bucket where final output is stored (defined in terraform/main/main.tf)

Creating an S3 gateway endpoint would make sense, most importantly for the wor

[2020-06-17 00:01] ababaian opened #163 "Data streaming on `serratus-align` nodes"
When data is decompressed via `fastq-dump`, on `serratus-dl` a named pipe is created and the output fastq file is `split` into 1M reads per fastq-block. This is not written to disk and instead directly piped to the s3 work bucket.

In contrast, `serratus-align` downloads the fastq file, or in the case of paired-end reads, 2 files to disk first. Then the file is read by `bowtie2` for alignment, whi

[2020-06-17 00:17] Bluestreak2k5 commented on #53
This isn't a bucket setting, this is a VPC setting.

Currently without this endpoint any S3 traffic is going through the IGW and your paying egress charges. Setting up an S3 gateway endpoint, creates a private endpoint to s3.amazonaws.com through amazon's network. It should reduce costs on network traffic.

[2020-06-17 00:26] ababaian commented on #53
I'm trying to figure out which VPC the cluster uses

[2020-06-17 01:02] ababaian opened #164 "Migrating from Dockerhub to ECR"
Currently each instance is pulling an image from the `serratusbio` dockerhub repository. We can likely download this faster by pulling directly from ECR.

This can be accomplished by:
- [ ] Modify the  `build_containers.sh` script to push to ECR if the environmental variable `ECR_ACCOUNT` is set in the same way that `DOCKERHUB_USER` works. Related, if the ECR repository does not exist, it should b

[2020-06-17 23:49] Bluestreak2k5 commented on #53
You might be launching it in AWS default VPC and not your own. You must specify it in the spot deployment. If your using AWS VPC then you can close this, but I didn't think you were.

[2020-06-19 17:57] ababaian opened #165 "New bat sequencing samples"
From G.M

Data is now on [SRA](https://www.ncbi.nlm.nih.gov/sra/?term=SRP231237). Do a quick run of these ~60 samples from bats.

[2020-06-20 18:37] ababaian opened #166 "`cov4` Update notes"
Additional notes for updating to `cov4` when that happens:

### Blacklisting Regions

`JB181528.1:3,840-4,780` : Cloning vector fragment, partially masked, extend to 4780 or end of sequence.

`NC_003391.1:9,224-9,701` : Camelpox similar region to `TMBIM4` gene

`NC_001653.2:686-725` : Deltavirus, small region with cryptic similarity to synthetic plasmids

[2020-06-20 22:08] rchikhi commented on #162
847 out of the 1000 accession have been assembled with Minia as of today, and will run coronaSPAdes next. A few words on the S3 directory structure. It adheres to @rcedgar's proposal on the post above:

in `assemblies/contigs/`:
- `SRRxxx.minia.checkv_filtered.fa` Minia k31 contigs filtered by CheckV, keeping only coronavirus hits
- `SRRxxx.coronaspades.checkv_filtered.fa` coronaSPAdes scaffolds f

[2020-06-20 22:10] rchikhi commented on #162
I'll mention also that many files in `assemblies/contigs/` will be empty: this is by design. It means that the assembler processed the dataset yet CheckV found no viral contig in the assembly output.

[2020-06-20 22:12] rcedgar commented on #162
Excellent!! Why "only" 861/1000, any problem with the remaining 139?

[2020-06-20 22:15] rchikhi commented on #162
Ah yes, great question. Let me break the rest down: 99 are still running, those are the big files. 21 were not downloaded (even bigger files). The rest (~19 datasets) are mysterious failures that I'll keep investigating in the next few days.

[2020-06-21 11:25] rchikhi commented on #162
As of now, 950/1000 minia assemblies are done, and 250/1000 coronaspades.

[2020-06-21 13:21] asl commented on #162
Note that entries there are likely to be longer than those in scaffolds. So you may want to use checkv on them as well to filter out short spurious matches and only keep fully assembled sequences

[2020-06-21 14:35] rchikhi commented on #162
alright, can run checkv on that output too

[2020-06-21 14:36] rcedgar opened #167 "Top hit and identity analysis for assemblies"
For each assembly, we should determine the most similar Genbank sequences, both complete genomes and "fragments", i.e. complete CDSs etc. We should include this information in a master summary file for assemblies, or in a short text file attached to each assembly:

1. Top hit to complete genome (T).
2. %id of assembly with T.
3. Top hit to fragment (F).
4. %id of assembly to F.

Can the annotation

[2020-06-21 14:40] rcedgar opened #168 "Search for recombination events?"
I believe recombination events can be detected by sliding a window down a genome (or contig) to find the most similar known genomes for each window. Discontinuities in this list of top hits and their identities indicate a recombination. I think we should implement something like this for all known genomes and for new assemblies.  Possibly I could implement such a tool if needed. I haven't checked

[2020-06-21 14:42] asl commented on #162
No. It's not a subset. bgcSPAdes / coronaSPAdes does not work this way :) I would probably need to write a note showing what it is doing :)

[2020-06-21 15:25] rchikhi commented on #162
That was just a guess :) ok! then I'll keep the output of checkv for gene_clusters as well.

[2020-06-21 15:45] ababaian commented on #168
I'm 100% on board with doing this analysis. We'll have a nice data-set to do this on.

[2020-06-21 16:48] taltman commented on #168
Kraken2 can do this, pretty sure!

On June 21, 2020 8:46:07 AM PDT, Artem Babaian <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-06-21 16:51] ababaian commented on #168
We'll probably want something closer to the [Figure 2 in the Pangolin paper](https://www.nature.com/articles/s41586-020-2169-0)

[2020-06-21 16:52] rcedgar commented on #168
@taltman Can you point me at the relevant documentation? As I understand it, the Kraken2 index doesn't store coordinates of k-mers, only taxonomy ids, so this would need to be a special feature somewhere.

[2020-06-21 16:55] rcedgar commented on #168
@ababaian As I understand it, that figure was made by the sliding window method followed by manual (i.e. visual) analysis to identify the discontinuities. That's fine for a single genome, but not amenable to high-throughput. We could show one or two examples like that should we be successful in implementing a method.

[2020-06-21 17:09] ababaian commented on #168
Well we can use the inflection points between two lines to predict recombination windows right :) If we can do it by eye, we can teach a computer to do it high throughput

[2020-06-21 17:11] rcedgar commented on #168
Yes, exactly -- the question was whether we/I need to write a new tool for this.

[2020-06-21 20:46] rchikhi commented on #162
967/1000 minia assemblies and 913/1000 coronaspades assemblies (which are of much higher quality). Only 5 coronaspades assemblies and 16 minia assemblies are still running in the pipeline, so one should consider this 1K test to be very soon over, and ready to move to larger data.

[2020-06-21 22:34] rcedgar opened #169 "Test bvfilter as alternative to checkv"
**RCE test on 1k assemblies**
I tested bvfilter with 16mer index (0.5 Gb RAM) on contigs from the 1k test. The filter thinks only 5,549 out of 10,021 total contigs are good Cov (45%). Edit -- Turns out most of these are coronaspades gene cluster contigs, which are expected to contain some non-Cov.

**Downloads**
Files posted to S3:
1. Binary file [bvfilter](https://serratus-public.s3.amazonaws.com

[2020-06-21 23:52] taltman commented on #168
Kraken reports the LCA of each kmer along the length of the read / contig. I can help make a custom DB of Coronavirus sequences

See this:

https://github.com/DerrickWood/kraken2/wiki/Manual

A space-delimited list indicating the LCA mapping of each k-mer in the sequence(s). For example, "562:13 561:4 A:31 0:1 562:3" would indicate that:

the first 13 k-mers mapped to taxonomy ID #562

the next 4

[2020-06-22 00:18] ababaian commented on #168
We're plotting percent id(%) in a sliding window, doesn't that kind of defeat the purpose of a kmer?

[2020-06-22 00:19] rcedgar commented on #168
In theory, k-mers could work because k-mer identity correlates quite well with alignment identity. With kraken2 specifically I doubt it will work because they index only a small subset of the k-mers.

[2020-06-22 00:44] rcedgar commented on #169
Further test results: bvfilter has 0 FPs on flom2 (our non-Cov virus reference) and 99.93% positive rate on covref (our comprehensive Cov mapping reference), the remaining 7 apparent FNs are patents and very short sequences.

[2020-06-22 09:00] rchikhi commented on #169
what was it trained on? covref?

[2020-06-22 13:20] rchikhi commented on #162
1K test is done, 983 minia and 914 coronaspades assemblies, some stats follow.

Number of datasets with X contigs
![image](https://user-images.githubusercontent.com/1218301/85290745-c9642180-b499-11ea-9850-2b04e9c57730.png)

4 somewhat arbitrary categories:
A.  Number of assemblies with 1 contig of length x > 25 Kbp   (_perfect or near-perfect genomes_)
B.  Number of assemblies with >1 contigs of

[2020-06-22 13:24] rchikhi commented on #162
I suggest we go ahead with all the other analyses (tax assignment, tree, etc) by taking only the cat A's, and in the background work on increasing the number of cat A assemblies by salvaging from the other categories.

[2020-06-22 13:32] asl commented on #162
@rchikhi So, these are checkv filtered contigs, not gene clusters for coronaSPAdes, right?

[2020-06-22 13:33] rchikhi commented on #162
Ah yes, absolutely!

[2020-06-22 13:39] rchikhi commented on #162
This is what it looks like for gene_clusters:
![image](https://user-images.githubusercontent.com/1218301/85294003-688b1800-b49e-11ea-9973-fde50ae95215.png)

![image](https://user-images.githubusercontent.com/1218301/85294059-793b8e00-b49e-11ea-8e48-7927932b56d6.png)

[2020-06-22 13:41] rchikhi commented on #162
Raw analysis data: https://serratus-public.s3.amazonaws.com/assemblies/analysis/1K_stats.csv

[2020-06-22 13:56] asl commented on #162
Oh, yes. Since gene_clusters is unfiltered, then category B is inflated.

[2020-06-22 13:56] rchikhi commented on #162
Yes. Going to fix that by adding gene_clusters.checkv_filtered to this plot ASAP

[2020-06-22 14:58] rcedgar commented on #169
Yes, the 16mers come from covref, so we need to be careful that it is not over-trained and will generalize to new Covs. I've done some sanity checks and I'm confident that it is robust down to around 70% id with a known Cov sequences. For example, the bvfilter score distribution on the 1k assembly motifs is strongly bimodal between predicted Cov and predicted non-Cov with a large gap between the t

[2020-06-22 17:33] rcedgar opened #170 ""Assemblability" score -- selecting datasets to assemble"
Moving this discussion from slack. @ababaian  suggested assembling 1k datasets for selected ranges of sumzer score, say 90-100, 80-89, 70-79 etc. with the goal of measuring how many of these datasets can be assembled in each score range. This would convert sumzer score to probability that a Cov can be assembled, which would inform a decision about where to set a score cutoff.

The summarizer score

[2020-06-22 20:58] rchikhi commented on #162
Here they are:
![image](https://user-images.githubusercontent.com/1218301/85334109-000e5c00-b4db-11ea-9ffa-9f7351087804.png)
![image](https://user-images.githubusercontent.com/1218301/85334116-03a1e300-b4db-11ea-874e-08d781720928.png)
Bottom line: `gene_clusters.checkv_filtered.fa` are out best cat-A assemblies so far. They're all in `s3://serratus-public/assemblies/contigs/` and I've moved `gene_

[2020-06-23 00:23] rcedgar commented on #168
Gideon Mordecai suggests RDP4 for recombination? https://academic.oup.com/ve/article/1/1/vev003/2568683

Rob Lanfear suggests Phipack and 3seq are both good for recombination detection too. Different approaches, both powerful in their own ways.

[2020-06-23 05:44] ababaian commented on #170
One important note which has come up in going over the CoV+ classification data is that many "single-cell RNAseq" libraries are yielding CoV/Viral+ hits but have very poor coverage over the genome for the virus itself. It appears that this is a combination of high-error rate and PCR-duplications which is causing this.

### SRR10338100

[code]

[2020-06-23 05:51] ababaian commented on #165
As of 200620 run, these are all complete.

[2020-06-23 05:51] #165 closed

[2020-06-23 17:52] rchikhi commented on #170
some single cell RNAseqs may only sequence the 3-prime end of transcripts, and some others are full-length, see https://www.frontiersin.org/files/Articles/441123/fgene-10-00317-HTML/image_m/fgene-10-00317-t001.jpg

[2020-06-23 17:56] ababaian commented on #170
Even if it's not 3' end scRNAseq, do you really think we can assemble them?

[2020-06-23 18:13] rchikhi commented on #170
if it's full-length and has CoV hits, it's worth a try

[2020-06-24 10:09] rchikhi commented on #162
Update: a new batch of 3.2k assemblies was made yesterday. This time I only look at `coronaspades.gene_clusters.checkv_filtered.fa`

![image](https://user-images.githubusercontent.com/1218301/85536464-6a2a1c80-b613-11ea-8611-34364e18813a.png)

This brings the number of our category A assemblies (single-contig, length > 25 Kbp) to 388. Here is the new list: `s3://serratus-public/assemblies/analysis

[2020-06-26 01:49] ababaian opened #171 "Genbank Contributors List"
As we're preparing the the pipeline for automated GenBank submission we'll need to list the project contributors as the files go online. Our current list is below taken from the `CONTRIBUTORS.md` file. This will be prepared into a `.sbt` template file from GenBank.

My suggestion is we randomize the name-order per each sequence-submission, this way we all average out as contributors.

### Serratus

[2020-06-26 01:59] ababaian commented on #10
I think we can safely retire the HTML status page from further development as we have migrated to `postgres` to manage the data.

[2020-06-26 02:00] ababaian commented on #35
We're 3 million deep, this probably won't happen. We can come back to it if needbe.

[2020-06-26 02:00] #35 closed

[2020-06-26 02:01] ababaian commented on #53
Artur worked his magic on the back-end, this may have helped. Still missing a formal definition in `terraform` but we can call it tentatively done.

[2020-06-26 02:01] #53 closed

[2020-06-26 02:02] ababaian commented on #65
coronaSPAdes and big guns was the move in the end.

[2020-06-26 02:02] #65 closed

[2020-06-26 02:03] ababaian commented on #72
Closed by #130

[2020-06-26 02:03] #72 closed

[2020-06-26 02:05] jefftaylor42 commented on #10
It still works!

Maybe our data volume has far exceeded its capacity though...

Manually poking the database is definitely a hack, we should not forget ..

El jue., 25 de jun. de 2020, 18:59, Artem Babaian <notifications@github.com>
escribió:

[2020-06-26 02:06] ababaian commented on #83
Closed by data-access wiki: https://github.com/ababaian/serratus/wiki/Access-Data-Release

SQL database is an ongoing effort from @victorlin + Dan

[2020-06-26 02:06] #83 closed

[2020-06-26 02:07] ababaian commented on #85
I don't remember which commit closed this, but it is no longer an issue.

[2020-06-26 02:07] #85 closed

[2020-06-26 02:09] ababaian commented on #38
This is a 'nice to have' feature, especially since it would prevent from any part of Serratus being exposed to the internet, but it's probably (almost certainly is) overkill for the immediate future. We can return if need be but closing for now.

[2020-06-26 02:09] #38 closed

[2020-06-26 02:10] ababaian commented on #93
This is closed by the use of `checkV` #100

[2020-06-26 02:10] #93 closed

[2020-06-26 02:16] ababaian commented on #90
@rchikhi has implemented this in [Assembly Batch Pipeline](https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly)

[2020-06-26 02:16] #90 closed

[2020-06-26 02:18] ababaian commented on #95
Not really a thing anymore, we might have to swing back to this for the paper and can re-open then.

[2020-06-26 02:18] #95 closed

[2020-06-26 02:18] ababaian commented on #100
Closed by [Assembly Pipeline](https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly) which uses checkV

[2020-06-26 02:18] #100 closed

[2020-06-26 02:19] ababaian commented on #102
Closed by [Assembly Pipeline](https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly)

[2020-06-26 02:19] #102 closed

[2020-06-26 02:20] ababaian commented on #136
Good idea, maybe we have time to do this next month. Closing fornow.

[2020-06-26 02:20] #136 closed

[2020-06-26 08:09] rchikhi commented on #171
Counter-point: a random order might confuse external observers / introduce noise to metadata?

[2020-06-26 22:54] rcedgar opened #173 "Serraplace validation"
I posted a tsv with comparison of Serraplace and Serratax on contigs from the first 1k assembly test (#162) here:

[serratax_vs_serraplace_1k.tsv](https://serratus-public.s3.amazonaws.com/assemblies/analysis/serratax_vs_serraplace_1k.tsv)

Fields in the tsv file are 1. SRA accession, 2. Serraplace taxonomy, 3. Serratax taxonomy.

Questions / feature requests:

1. The Serraplace output only has tax

[2020-06-26 22:58] ababaian commented on #173
What are the `-` is this not performed or no answer from each software?

[2020-06-26 22:59] rcedgar commented on #173
Yes, "-" is no classification reported.

[2020-06-27 17:23] rcedgar commented on #169
Closing issue, checkv seems to be good enough.

[2020-06-27 17:23] #169 closed

[2020-06-27 17:24] rcedgar commented on #162
Test completed, closing issue.

[2020-06-27 17:24] #162 closed

[2020-06-27 17:27] rcedgar commented on #148
Closing issue, not worth doing now.

[2020-06-27 17:27] #148 closed

[2020-06-27 17:30] rcedgar commented on #170
@ababaian it seems you/someone on the team implemented something like an "assemblabilty score" in R and generated lists of sets to be assembled, but I can't find the lists or the score implementation -- can you comment here what you did, then we can close this issue?

[2020-06-27 17:33] rcedgar commented on #91
@taltman we seem to have converged on assembly output, can we close this issue now?

[2020-06-27 18:14] ababaian commented on #170
So there's no good way to do this outright it looks like. Right now it's simply a filter based on score (>60), aligned reads (>200) per family. Assembly was cost-optimized a bit so I don't think we have to be as stingy, we can tolerate a poorer classifier and just assemble a bunch of junk. I'm still exploring the data a bit to figure out how to do this better. I think with a collection of CatA and

[2020-06-27 21:47] rcedgar opened #174 "Identify complete assemblies"
Cat A assemblies (putative complete) are identified as single contigs >25kb. These may not be complete genomes because there are several examples of partial genomes which are >30kb. Rodent Covs appear to be especially long, e.g. these rat Cov ORF1a CDSs: KY370051.1, KY370049.1 and this rat Cov "partial genome" KF850449.2. There are many non-rodent examples in the range 25 - 30kb.

How to classify

[2020-06-27 21:55] ababaian commented on #174
There are essentially two main markers;

[2020-06-27 22:08] rcedgar commented on #174
2. I ould try to do this one. @ababaian can you confirm we need this for GB submission or our own annotation?

3. Why would the assembler clip reads? This is not mapping. Do you expect a long pure poly-A exactly at the 3' end? Most of the Cat A's don't have this; some of them have messy ends with some poly A at or near the end, e.g.

[code]

[2020-06-27 22:16] ababaian commented on #174
Sorry clip should be trim, this is a QC step in assembly. I've edited the comment above

[2020-06-27 22:19] rcedgar commented on #174
@ababaian not clear where we are on this. Are there open issues here? Who to assign?

[2020-06-27 22:21] ababaian commented on #174
Well, (1) is trivially solved already. You've volunteered to solve problem (2), and (3) we'll need someone else to tackle.

I think if we get (2) then this can be rolled into the annotation pipeline. (3) may be tricker to implement

[2020-06-27 22:22] rcedgar commented on #174
Gotcha. I wasn't clear if (2) was necessary, I will assign myself.

[2020-06-27 22:26] rcedgar opened #175 "Determine if contig terminates at 3' end of genome"
We need to know if an assembly ends at the 3' end of the genome. The genome is expected to end with poly-A, but apparently this is trimmed by the assembler as a QC step.

Open problem: how to determine if a contig ends at the 3' end of the genome.

[2020-06-27 22:28] rcedgar opened #176 "Create model of Cov leader sequence to support annotation"
Per @ababaian "At the 5' end we should be able to identify a 'Leader Sequence', possibly via a nucleotide HMM of the 5' UTR from known CoV complete genomes. This would be up to the first ATG or the first 100 nucleotides.... I don't know if we need this for GB or not, but for our own metrics this will be important as we need to classify 'complete' versus new [sic, should be 'partial'?]".

[2020-06-27 22:29] rcedgar commented on #174
Closing, replaced by #175 and #176.

[2020-06-27 22:29] #174 closed

[2020-06-27 23:57] rcedgar commented on #176
@ababaian The 5' ends of full-length genomes align with terminal gaps so a leader model looks to be impossible. Below is an alignment of the start of a few RefSeqs to illustrate the problem. Shall I close this issue?

[code]

[2020-06-28 00:00] ababaian commented on #176
Well we might not have absolute certainty, but this information is still better then nothing. Especially if we have the variable terminus from many genomes. It's not perfect, but it's better then no data. Unless I'm misunderstanding something.

[2020-06-28 00:03] rcedgar commented on #176
Ok, then I think @tomer's annotation pipeline should blastn contigs against the first ~100nt of all known full-length sequences as a check it is approximately complete, agreed? If so I'll post the sequences to S3 and open an issue for Tomer.

[2020-06-28 00:12] rcedgar commented on #176
What do the reads look like when you run off the end of a molecule -- presumably you get into the opposite adapter & in principle, the assembler could track this? Here I'm over my head with the biochemistry & algorithms, maybe we should check with Anton if this can be used as a test.

[2020-06-28 01:01] rcedgar opened #177 "Coronaspades mis-assembly problems & assembly QC"
1. This Cat A assembly is badly messed up: `ERR4164903.coronaspades.NODE_3_length_32040_cluster_3_candidate_1_domains_43`

I can't quite figure out what is going on; there is a ~1,500nt segment in the contig that matches Cov-2 with 100% id, this segment appears multiple times in the contig. If you search for `TGGGGCCGACGTTGTTTTGATCGCGCCCCACT` you will find >10 copies of this motif.  Repeated trave

[2020-06-28 05:52] taltman commented on #177
I'll take a quick look in a minute.

Could this be a case of various splice-forms mistakenly merged into a single contig?

[2020-06-28 06:50] taltman commented on #177
Check out the annotation here: `s3://serratus-taltman/annotations/test/`

[2020-06-28 06:55] taltman commented on #177
So, in the .alc file, there's this warning:

[code]

I think this catches the major rearrangement issue that you are concerned about.

[code]

This indicates that it sees a duplication, but you need to check out the *.alt file to figure out how big (and numerous) are the duplications. The answer is is yes, it notes many long duplications.

[2020-06-28 06:58] taltman commented on #177
The issue is that VADR outputs a *lot* of diagnostic information, as it's designed to assist the GB indexers as they triage incoming viral GB submissions. It marks many CoV genomes as "fail", because they are too divergent, even though a close inspection shows that it is mostly OK.

So for automating this, we'll need to spot check a bunch of assemblies and decide which fails are considered signifi

[2020-06-28 07:27] taltman commented on #176
I've put in a query to Eric regarding VADR's ability to do so:
https://github.com/nawrockie/vadr/issues/16

[2020-06-28 07:28] taltman commented on #175
I think this can be handled by VADR, I'll just need to figure out the correct output file to mine for this info.

[2020-06-28 16:30] rcedgar commented on #177
@taltman Thanks for checking this! Looks like VADR is not quite right for filtering these problems, so I made QC script serratus_assembly_minimap2_qc.py (PR 178).

[2020-06-28 16:53] taltman commented on #176
Eric has pointed out that there are two "clans" in Rfam for the 5' and 3' UTRs, across different sub-taxa of CoV. Once I figure out how to download the HMM or CM models,  I can add it to the pipeline.

[2020-06-28 16:56] taltman commented on #176
https://xfam.wordpress.com/2020/04/27/rfam-coronavirus-release/

[2020-06-28 16:58] rcedgar commented on #176
I think blastn to a database with the first ~100nt of the known full-length genomes will work better than RFAM. I will post the reference to s3 later today.

[2020-06-28 19:56] rcedgar commented on #176
@taltman  UTR sequences are `utr5_id97.fa` and `utr3_id97.fa` in `s3://serratus-public/rce/utr/`

They are technically not UTRs because I'm not sure where the CDS boundaries are, but the RFAM HMMs won't know either, using these sequences will get us close to the 5' and 3' terminals.

[2020-06-28 20:21] asl commented on #177
@rcedgar Will you please tag myself and @1dayac for the assembly problems?

[2020-06-28 20:34] taltman commented on #176
Hi @rcedgar ,

I'm not following your rationale. Why do you think that this blastn approach will be more sensitive than the  handful of 5' and 3' UTR models made by experts at the Rfam project? My understanding is that HMMs are more sensitive than sequence homology search like Blast, and stochastic context free grammar covariance models are more sensitive than HMMs for profiles where the secondary

[2020-06-28 20:35] asl commented on #177
Both looks like real misassemblies. We will take a look.

[2020-06-28 20:40] asl commented on #177
ERR4164903 should be ignored. It's ONT data and likely contain hairpin turn which was not removed during adapter clipping.

[2020-06-28 21:16] asl commented on #177
The table from @rchikhi:
[code]

The table from @rcedgar:
[code]

[2020-06-28 21:26] rcedgar commented on #176
I am worried about local vs. global matching. The RFAM HMMs are not gobal models of UTRs, they are local models of the most conserved sequence in the UTRs. There are two different kinds of sensitivity to consider here: (a) sensitivity to detecting the **presence of a UTR in a highly diverged** sequence, and (b) **how many of the UTR bases** are identified. HMMs are much better than blastn at (a) b

[2020-06-28 21:35] asl commented on #177
SRR10873981 is 'brambling27'. @rcedgar analyzed is previously. Likely novel species.
SRR10873977 is 'brambling28'. aligns to FJ647223.1 with 92% IDY and 99% coverage. Looks like no structural differences / split alignments.
ERR4181727 looks like a real misassembly (split alignment)
SRR7623977 might be a misassembly (split alignment)
SRR7239363  aligns to LC364344.1 with 92% IDY and 100% coverage.

[2020-06-28 21:38] rchikhi commented on #177
based on SRA metadata, those 71 catA's are possibly not Illumina nor BGISEQ: https://serratus-public.s3.amazonaws.com/assemblies/analysis/catA.tech.exclusion.txt

[2020-06-28 22:41] rcedgar commented on #177
Added @asl, tried to assign @1dayac also but not in list of contributors and don't see how to add.

[2020-06-29 00:52] rcedgar commented on #176
Solved by blastn and/or RFAM HMMs, closing issue.

[2020-06-29 00:52] #176 closed

[2020-06-29 00:54] rcedgar commented on #175
Solved as in #176, use RFAM HMMs or blastn to UTRs.

[2020-06-29 00:54] #175 closed

[2020-06-29 00:56] rcedgar commented on #147
Apparently the assemblers generally don't insert the leader sequence except at 5' so this is not an issue in practice, closing issue.

[2020-06-29 00:56] #147 closed

[2020-06-29 00:57] rcedgar commented on #151
Pilot run accomplished, closing issue.

[2020-06-29 00:57] #151 closed

[2020-06-29 00:59] rcedgar commented on #78
Tracking is de facto implemented by the accumulated summary files, closing issue.

[2020-06-29 00:59] #78 closed

[2020-06-29 01:02] rcedgar commented on #144
Moving these to #166 and closing.

[2020-06-29 01:02] #144 closed

[2020-06-29 01:03] rcedgar commented on #166
KY419108 "Porcine hemagglutinating encephalomyelitis virus strain PHEV CoV USA-15TOSU24992, complete genome" is not a complete genome (~800nt, no ORFs).

JB181528.1 probably non-Cov, see SRR1055720 (good coverage of JB181528.1 but not mprot).

[2020-06-29 09:03] Pbdas commented on #173
The pipeline will produce all intermediate files, which includes the .jplace file, where the detailed per-query placements are found

The assignment somewhat depends on a "distribution ratio", basically if a placement has 1.0 LWR on an edge, by default the algorithm will distribute that weight according to  how close  the placement was to either side of the edge. So if the attachment point of the

[2020-07-01 18:39] ababaian commented on #133
[code]

[2020-07-01 18:42] ababaian commented on #133
The `--split-e` only deals in biological reads to begin with. So inadvertently avoided this mistake. Looks like that spatial transcriptome library was just a particular case where the reads were mis-annotated, SRR11616465.

[code]

[2020-07-01 18:42] #133 closed

[2020-07-04 19:57] rcedgar opened #183 "Downstream analysis of assemblies"
+ Annotation of genes and other features (@taltman pipeline).
+ Find closest known full-length genome. TODO. suggest dnadiff in mummer4, high ANI + high AF otherwise punt.
+ Coverage plot -- add to @taltman pipline, blastn + bedtools?
+ Variant analysis -- global read mapper + variant caller recommended by @ababaian
+ Tree placement and taxonomy prediction @Pbdas serraplace
+ Taxonomy prediction @

[2020-07-04 20:00] rcedgar commented on #183
Variant calling suggested by @ababaian from slack:

[code]

[2020-07-04 20:06] rchikhi commented on #177
I ran blastn (megablast) over all catA-v3 assemblies. For each assembly, I selected 1 reference: the one with the lowest e-value (-> disputable choice). I flagged assemblies where all Blast alignments to the reference either collectively:
* covered <= 95% of the assembly, or
* covered <= 95% of the reference, or
* over 200 bp of assembly were covered by >= 2 alignments, or
* over 200 bp of referen

[2020-07-04 23:32] rchikhi commented on #177
Also I had a look at one of those flagged by @rcedgar : ```SRR7716793      partial_loclip  NC_001846       91.8: ```

I see a 91% IDY near 100% coverage alignment:

[code]

So, this one is probably fine?

[2020-07-04 23:44] rcedgar commented on #177
That looks good to me; if there is one long alignment covering most of the query contig and most of a full-length genome, then it has to be a pretty good assembly. 92% id is unusually low, borderline novel species, though "species" is a pretty arbitrary concept with viruses.

[2020-07-07 18:42] taltman commented on #101
We now have VADR for annotating CoVs.  Do we still want to annotate the reference CoV genomes?

[2020-07-07 18:46] taltman commented on #106
Note, the TPA page says:

[2020-07-07 18:47] rcedgar commented on #101
If VADR is the tool we're going to use in production, then would be great validation to provide VADR annotations of the ~800 full-length Cov genomes currently in GenBank. For the RefSeqs especially, this will show the strengths and weaknesses of the method.

[2020-07-07 18:50] rcedgar commented on #106
Our annotations will be TPA inferential: "A database of sequences annotated by inference, where the source molecule or its product(s) have not been the subject of direct experimentation."

[https://www.ncbi.nlm.nih.gov/genbank/tpa-inf/](https://www.ncbi.nlm.nih.gov/genbank/tpa-inf/)

[2020-07-07 19:16] taltman commented on #106
Emails sent, will update as I get more guidance.

[2020-07-08 14:56] rcedgar opened #184 "serratax bug when query falls outside all genera"

[2020-07-08 22:55] rchikhi opened #185 "Report of July 8th assemblies (1.3k datasets)"
- 1.9k datasets were sent to me by Artem
- 1378 of those were not previously assembled ([list](https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/lists/CoV_id95-60_reads100p_score30p.unique.txt))
- all were Batch assembled today except 18 couldn't be downloaded
- 1362 out of 1378 : coronaSPAdes reported a `bgc_statistics.txt` file (possibly empty)
- 696 out of 1378 had

[2020-07-08 23:00] rcedgar commented on #185
@rchikhi would be helpful to see most similar known genome  & %id and/or Serratax prediction, this tells us whether the assembly is high- or low-value target worth giving more attention to, e.g. co-assembly.

[2020-07-08 23:02] rchikhi commented on #185
Sounds fair, will do that tomorrow

[2020-07-08 23:08] rchikhi commented on #185
Actually, Serratax wasn't run on the extended 16 as only a subset of the contigs correspond to a CoV HMM hit, the rest of the contigs do not. Would you say it's fine to run Serratax on just the CoV-HMM-hit contig ?

[2020-07-08 23:10] rcedgar commented on #185
Serratax supports multi-contig assemblies. It looks for a few known genes by ublast, then aligns & builds trees for each found gene on the fly. If a subset of genes is found, that's ok. If no genes are found, empty :-)

[2020-07-09 19:48] rchikhi commented on #185
It is done for the lucky 14. The additional 16's will take extra time as blastx for the 14 contigs took 9 hours on a 16cores ec2.. weird?

[2020-07-10 09:51] taltman commented on #106
I have received an initial email from the GenBank team. They have asserted the following:

I'm not clear what is meant by inferential evidence that is not experimental nor computational. They provide the following webpage providing a bunch of examples of "TPA:inferential" scenarios, but I'm still unclear about the actual definition:

https://www.ncbi.nlm.nih.gov/genbank/tpa-inf/

I've sent a quick

[2020-07-10 10:00] taltman commented on #106
Upon further reading of:
https://www.ncbi.nlm.nih.gov/genbank/tpafaq/

So however you slice it, our sequences and annotations seem to need experimental evidence of some flavor in order to submit these TPA:inferential submissions to GenBank.

[2020-07-10 10:04] taltman opened #186 "Viral metadata needed for GenBank submission"
From the Handbook:
https://www.ncbi.nlm.nih.gov/books/NBK53714/#gbankquickstart.i_have_viral_sequence_da

[2020-07-10 10:12] taltman opened #187 "Specific annotation requirements for viral TPA submissions"
From the Handbook:
https://www.ncbi.nlm.nih.gov/books/NBK53714/#gbankquickstart.i_have_viral_sequence_da

A unique name
Country where virus was collected (if known)
Host (scientific/binomial or common name, if known)
Collection date (if known)
(use three letter abbreviation for month and four digit format for year, e.g. Feb-2001)

    Serotype or genotype (if known)

[ Tomer: These two following i

[2020-07-10 10:19] taltman opened #188 "Add tb2asn branch to Darth pipeline"
In order to automate a bulk submission to NCBI, we need to use `tbl2asn`:

https://www.ncbi.nlm.nih.gov/genbank/tbl2asn2/

We'll add a step to the Darth annotation pipeline to auto-create the ASN.1 file, ready for submission to NCBI.

[2020-07-10 10:27] taltman opened #189 "Create template.sbt metadata file for batch tbl2asn submission"
As per:

https://www.ncbi.nlm.nih.gov/books/NBK53709/#gbankquickstart.when_is_tbl2asn_a_good_a

In the following section:

They describe using an online tool to auto-generate an ASN.1 text file with the project meta-data included. This will generate a template.sbt file, which is needed for all tbl2asn runs.

[2020-07-10 10:32] taltman opened #190 "Get NCBI BioProject ID"
As per:
https://www.ncbi.nlm.nih.gov/books/NBK53709/#gbankquickstart.when_submitting_to_genba

My feeling is that it would make our submission better organized if each submission was tied back to a common NCBI BioProject ID.

[2020-07-10 10:41] taltman opened #191 "Come up with source organism description for each genome"
Here's what NCBI has to say about assigning a meaningful entry for the "source" of the sequence material in the face of uncertainty:

https://www.ncbi.nlm.nih.gov/books/NBK53701/#gbankquickstart.can_i_use_the_word__unkn

So we need to come up with an organism descriptor for our submissions that don't need to be placed precisely in the NCBI Taxonomy DB, but the nomenclature should probably not be t

[2020-07-10 13:44] rcedgar commented on #191
Serratax provides the identity of the source organism. They allow BLAST top hits as an approximate guide down to genus, which is a bad method for our situation. Serratax is much better because it reliably resolves sub-genus and species, while even genus can be wrong with BLAST (e.g. Bobbie). Perhaps this will need a discussion with GB, and possibly they won't allow it, but Serratax gives much bett

[2020-07-10 13:54] rcedgar commented on #187
"all coding regions (showing start and stop codons, if present)" Finding start and stop codons is difficult with Cov, this is the main reason I gave up trying to do automated annotation myself. Finding a known gene is relatively easy with a local protein alignment (say, BLAST or an HMM), but extending the alignment out to the start or stop is hard unless the genome is very close to something which

[2020-07-10 13:57] rcedgar commented on #187
Figuring out CDS and gene symbols is also tricky because of the polyprotein which is cleaved into multiple genes. In these cases, both the poloyprotein before cleavage and the genes after cleavage should be annotated (I think...). I'm assuming cleaved genes lack start and/or stop codons, instead they have a cleavage site which should also be annotated; not sure, I never fully figured out how these

[2020-07-10 16:48] rcedgar commented on #187
Here is a nice figure showing the complexity of an example Cov genome (SARS-CoV-1). Note the multiple levels of overlapping and nested ORFs and CDSs with a frameshift in one of the most important genes (RdRp). When I saw stuff like this, I figured it would be impossible to automate annotation unless there was an existing Cov-specific tool. Now I suspect that such a tool is impossible anyway becaus

[2020-07-10 16:55] ababaian commented on #190
I've initiated a BioProject submission and you should get an invite to manage this.

[2020-07-10 17:06] ababaian commented on #189
SBT template is below:

[Serratus_template.sbt.txt](https://github.com/ababaian/serratus/files/4904455/Serratus_template.sbt.txt)

[2020-07-10 17:07] #171 closed

[2020-07-10 17:23] ababaian commented on #187
We would require to specifically find protease cut sites to go sub-ORF. I think ORF1a and ORF1b would be a good starting place in this respect and protease cut sites which should be conserved (I hope) would give us the info on RdRP etc... This data is not annotated great in GenBank records as it so the examples are hard to find.

[2020-07-10 17:30] rcedgar commented on #187
Is cleavage well enough understood to know how well conserved the sites are, or if approximate sequence conservation necessarily implies cleavage or not? If the genome is diverged 1%, 2%, .. 5% ... 10% from a genome with known cleavage site, when do you / do you not believe the site is conserved?

[2020-07-10 18:21] taltman commented on #187
@rcedgar I've posted screenshots of the VADR annotation to Slack a few times. We're getting comparable annotations to the standard NCBI annotations for the SARS-CoV-2 reference sequence. It won't be as accurate as someone hand-annotating, but it's the best we can do in a high-throughput fashion.

[2020-07-10 18:22] taltman commented on #187
Especially for distantly-related CoVs.

[2020-07-10 18:28] rcedgar commented on #187
Sure, I saw the screenshots and it looks like the best-known genes are in roughly the right place, but I don't know if GenBank will find this acceptable. I don't see how any automated method can reliably meet the requirements per their documentation -- we don't know the start, stop, cleavage sites etc. etc. and we don't have reliable translations for any of the genes AFAICS.

[2020-07-10 18:29] taltman commented on #189
Awesome, thanks!

Can we commit that file to somewhere in the repo?

[2020-07-10 18:31] taltman commented on #187
This all might be academic because GenBank might show us the door.

VADR is a tool used by NCBI for evaluating viral genome submissions, so I think we have a better chance that it will produce the content that they are looking for. I don't think the annotation has to be flawless to pass muster; just demonstrate "due diligence" in trying to do a reasonable job.

[2020-07-11 15:51] rcedgar commented on #184
@rchikhi Heads up: I fixed this bug. Note that the fix short-circuits the usual version control checks and balances -- the python code is in a tarball on S3, and I uploaded a new tarball, overwriting the previous version. Bad engineering practice for sure, but I'm too new to too many things (github, docker in this case) and don't have time to learn them properly right now. It's a pretty simple fix

[2020-07-11 17:11] ababaian commented on #184
Can you please update the copy in this main Serratus Repo so we have this version controlled for this and then Rayan can pull from there.

[2020-07-11 17:13] rchikhi commented on #184
it doesn't matter much for me
I already pull from https://serratus-public.s3.amazonaws.com/rce/serratax/tarball/serratax.tar.gz
and this is done only when I rebuild the batch docker image

[2020-07-11 17:13] rcedgar commented on #184
There is no copy in the main Serratus repo. The python code is, and always has been, in a tarball on S3 as noted above and documented here [https://github.com/ababaian/serratus/blob/master/containers/serratax/README.md](https://github.com/ababaian/serratus/blob/master/containers/serratax/README.md).

[2020-07-11 17:15] ababaian commented on #184
OK we swing back to this later then. Can you rename the issue "Migrate Serratax codebase to /containers/serratax/" and we'll close it when we swing back around to this when we have time.

[2020-07-11 17:17] rcedgar opened #192 "Migrate serratax python code to github repo"
Opened new issue per @ababaian's request.

See: #184

[2020-07-11 17:19] rcedgar commented on #184
Better to open new issue because a bug fix is orthogonal to migration. Closing this one because the bug is fixed.

[2020-07-11 17:19] #184 closed

[2020-07-11 17:25] rcedgar commented on #191
Can we close this? Or unassign me? From my perspective Serratax is the solution.

[2020-07-11 20:43] ababaian opened #193 "Data Compliation 1: CoV master table"
## F1: CoV Phylogenetic tree
Objective: Create a master table for coronaviridae containing all GenBank records. This will in essence have to be split over several `tsv` files which will be stored in `s3://serratus-public/seq/cov5/`

#### Tasks
- [x] Create "Master Table" google doc. [Link](https://docs.google.com/spreadsheets/d/15NR3XSwansxhavmukqjuOzj0tReIG5ZwWWKQKNC9jOA/edit?usp=sharing)
- [x] P

[2020-07-11 20:44] ababaian commented on #193
Currently Proposed Schema

| Field               | Notes      |
|---------------------|-----------------------------------------------------------------------------------------------------------------------------------|
| accession           | GenBank Accession; OR Serratus Accession                                                                                          |
| name                |

[2020-07-11 21:18] rcedgar commented on #193
@ababaian Please clarify / correct. "Exemplar" for tree-building: I assume this means one sequence per species or OTU, and suggest we use generically "OTU" for "species or sequence cluster when species name not available". I am constructing OTUs and will deliver to @Pbdas ASAP for tree-building.

[2020-07-11 21:37] ababaian commented on #193
"Exemplar" is what you're saying, one sequence per species or OTU that we define as 'canonical'. This should follow the previous priority order we've established: 1) RefSeq 2) Genbank Whole Genome 3) GenBank fragment 4) Assembly. As such each cluster of sequences will be under the umbrella of a single "Exemplar" that will be named by the exemplar accession.

i.e. All SARS-CoV-2 sequences will cont

[2020-07-11 21:40] rcedgar commented on #193
Actually, Genbank fragments cannot be included in OTUs because there is no way to measure identity of non-overlapping fragments -- they could be in the same species or highly diverged from each other. I doubt any fragment has a species name not assigned to a complete genome.

[2020-07-11 21:41] ababaian commented on #193
Our operational definition of inclusion as discussed in the call is the presence of RdRP. Non-rdrp fragments can be listed as 'unclassfied' for now.

[2020-07-12 01:06] rcedgar opened #194 "OTU and tree construction for Fig. 1"
We need OTUs for Fig. 1, and perhaps also for supplementary tables where per-OTU is more useful than per-sequence.

Using the rule "species if available otherwise OTU" for organizing figures and tables is harder than it looks at first sight; the explanation is long so I won't put it here. Instead, I propose we use OTUs for all sequences to be included in Fig. 1, including those which have species

[2020-07-12 03:07] ababaian commented on #193
I came across the ICTV list of 'exemplar' virus sequences in GenBank. ( s3://serratus-public/seq/cov5/VMR 010520 MSL35.xlsx )

We should certainly include these sequences as our 'exemplar' as well as it's a well annotated 'name' and species designation in different places in the tree.

https://talk.ictvonline.org/taxonomy/vmr/m/vmr-file-repository/9603

[2020-07-12 03:27] rcedgar commented on #193
Suggest update priority ranking for exemplars etc. to:

` ICTV > RefSeq > GB complete > Serratus assembly`

Assuming ICTV is "more official" than RefSeq.

[2020-07-12 04:26] rcedgar opened #195 "Designate assemblies as putative new species or new genus"
The [ICTV criteria for Cov taxonomy assignment](https://talk.ictvonline.org/ictv-reports/ictv_9th_report/positive-sense-rna-viruses-2011/w/posrna_viruses/222/coronaviridae
), are quoted below.

This gives us the official criteria for claiming a putative new species, sub-genus or genus. The master table should therefore include a.a. identities to the domains used for classification. I'm not clear e

[2020-07-12 04:28] rcedgar commented on #193
We should add a.a. identities to closest known species for taxonomic genes per #195.

[2020-07-12 04:38] rcedgar opened #196 "Identify characteristic domains in Cov genomes"
For best taxonomy assignment and tree-building, we would ideally identify these "domains" per #195:

pp1ab: ADRP, nsp5 (3CLpro), nsp12 (RdRp), nsp13 (Hel), nsp14 (ExoN), nsp15 (NendoU) and nsp16 (O-MT)

What does "domain" mean here? This is an imprecise term as far as I'm aware. Should we attempt this, or is it impractical? Are there PFAM HMMs for these domains that would be credible to virologist

[2020-07-12 05:02] ababaian commented on #196
These would be the functional proteins, i.e. the cleaved products. This is exactly the standard we should hold up the criteria against. Let's do it this way.

[2020-07-12 05:13] rcedgar commented on #196
Um yes, that would be nice, but how do we get the a.a. translations for these things...? Overlapping ORFs, frameshifts, conflicting nomenclature, which PFAM HMM etc.? I've spent a lot of time on this and do not have a solution, can you be more specific?

[2020-07-12 06:40] ababaian commented on #196
pp1ab: Polyprotein 1AB is both ORF1a and ORF1b (frameshift). This will require 6-frame translations and search for each domain (HMM) in that space.

- nsp3 (ADRP) ADP-ribose-1″phosphatase (macrodomain); RNA-binding

- nsp5 (3CLpro) [Pfam Link](http://pfam.xfam.org/family/PF05409)

- nsp12 (RdRp) RNA Polymerase [Pfam Link](http://pfam.xfam.org/family/PF00680)

- nsp13 (Hel) Helicase [Pfam Link](htt

[2020-07-12 14:10] asl commented on #196
We seem to have all these HMMs bundled with cironaSPAdes.

[2020-07-12 14:15] rcedgar commented on #196
Perfect, thanks @artem! I believe nsp15 (missing in Artem's list) is PF19215.1 in the new Cov-2 set (Pfam-A.SARS-CoV-2.hmm) but not yet on the PFAM web site. I haven't found an HMM for nsp14 (ExoN, Exonuclease).

The 6-frame translation can be done on cli using emboss [getorf](http://emboss.sourceforge.net/apps/cvs/emboss/apps/getorf.html).

Now we need implements of the next steps: (1) extract th

[2020-07-12 14:19] asl commented on #196
We can do the following:
 - perform 6 frame translation (I’m usually just using transeq for this)
 - align HMMs
 - extract the sequences from alignments
Probably need to extend alignments to ORF boundaries, so probably we’d start from ORFs, not just translated contigs

[2020-07-12 14:21] rcedgar commented on #196
@asl I think the HMM alignment is exactly what we need for a multiple alignment, no need to extend the ORF, actually I don't think that would work well anyway because the proteins are cleaved by proteases so I'm assuming they're missing start and/or stop codons.

[2020-07-12 15:21] ababaian commented on #196
I may be incorrect but  "PF19215.1 in the new Cov-2 set (Pfam-A.SARS-CoV-2.hmm)" is built based on SARS-CoV-2 sequences alone and therefore may not work with distant sequences such as Deltacoronaviruses. We'll need to validate this functions pan-coronavirus

[2020-07-12 15:22] rcedgar commented on #196
You are incorrect, this set is quite biased towards Betacov but has reasonable coverage overall.

[2020-07-12 15:27] rcedgar commented on #196
You are incorrect. Here is one example from the seed alignment [https://www.uniprot.org/uniprot/A0A0U2GMU3](https://www.uniprot.org/uniprot/A0A0U2GMU3), Camel coronavirus. Generally the Pfam-A.SARS-CoV-2.hmm alignments are biased towards Betacov and lack some of the genes found only in non-Beta genera, but they have pretty broad Cov-erage :-)

[2020-07-12 16:52] rchikhi commented on #196
As per https://github.com/ababaian/serratus/issues/196#issuecomment-657227780 I'm happy to integrate (1) into the batch pipeline if someone gives me a quick rundown of which commands would be best to implement https://github.com/ababaian/serratus/issues/196#issuecomment-657228170.
For integrating (2), isn't that BLASTn vs nt?

[2020-07-12 16:59] rcedgar commented on #196
For (1) it's something like this (copy-pasted from one of my own local scripts:

[code]

This gives several output files which should all be saved; I can write some python scripts to parse them.

For (2) we should use minimap2, not blastn (I think we discussed this before; we can sidebar on slack if not clear why). The command line I use is like this:

[code]

Command like this needs to be run on

[2020-07-12 17:00] rcedgar commented on #196
@rchikhi In the above example, Pfam-A.SARS-CoV-2.hmm should be replaced by the taxonomically informative set of HMMs given by Artem plus the one extra I found in Pfam-A.SARS-CoV-2.

[2020-07-12 17:11] rchikhi commented on #196
thanks. @asl mentioned that all these HMMs are in coronaspades, so perhaps I could just use those?

[2020-07-12 21:16] rchikhi commented on #185
I've updated the results with the additional 16 viruses extracts from bgc_statistics.txt.  Much shorter hits (~80 nt sometimes). Is this significant?

[2020-07-12 21:55] rcedgar commented on #185
I don't understand which hits your talking about exactly, but viruses evolve very quickly. In Cov, aligning one genus to another is <~50% a.a. identity in short well-conserved regions in protein core, lower elsewhere; nt similarity is probably undetectable over most of the genome with blastn though I haven't looked at this carefully. Cov has proofreading; most other viruses evolve more quickly.

[2020-07-12 21:56] rchikhi commented on #185
those hits were the longest BLASTx hits from contigs to NR database

[2020-07-12 21:57] rcedgar commented on #185
If these are hits to well-conserved domains in pol with low E-value, this could be a very deeply diverged Cov. You should also look at where the genes are in the contig, Cov+Toro have well-conserved gene structure in ORF1ab. This needs a fair amount of manual review to make a call IMO.

[2020-07-12 21:58] rchikhi commented on #185
fair enough, sounds like a good follow-up project if we have time a bit later than this week. I guess for now a couple other things are more down-to-earth urgent.

[2020-07-12 22:01] rcedgar commented on #185
Agreed. Artem & I call this kind of thing HHF/LWIA = high-hanging fruit / land war in Asia, meaning time-consuming, low probability of success, do it later / never.

[2020-07-12 22:12] rchikhi commented on #185
well Artem may also call it 'NEW GENUS!' :)

[2020-07-12 22:15] rcedgar commented on #185
Better test than blastx for low-%id assemblies is to run those taxonomic HMMs per #195 and #196. If these have good alignments, then we can determine new species, new sub-genus or new genus according to "official" standards.

[2020-07-12 23:13] rchikhi opened #197 "Selection of assemblies into master table (category, filtering method)"
Let's have a discussion on what is the bar each assembly has to pass, in order to make it into the master table.

We had categories (recalling from https://github.com/ababaian/serratus/issues/162):

* `A` 1 contig of length x > 25 Kbp (perfect or near-perfect genomes)
* `B` >1 contigs of total length x > 25 Kbp (need some work but possibly salvageable genomes)
* `C` total length 5 kbp < x < 25 Kbp

[2020-07-12 23:20] rcedgar commented on #197
IMO we should do this: (1) include ALL assemblies where there is ANY evidence for Cov whatsoever, even if very weak, (2) include ALL relevant evidence for presence of Cov that can be reduced to a few numbers. We have a small number of assemblies, so size is not an issue; it will be reduced to smaller tables in various different ways for the paper.

[2020-07-12 23:21] rchikhi commented on #197
regarding (1): very weak would mean even include >= 1 BGC (some of them are clearly spurious hits where the HMM matched only 3 a.a's). I'm fine with it, just mentioning it.

[2020-07-12 23:23] rcedgar commented on #197
Sensitivity should be maximized for the master table, regardless of how many FPs are included. Discard assemblies only if you are 100% certain they have no Cov. This approach does no harm AFAICS, while discarding Covs is potentially harmful. A later question is selecting subsets to show in a reduced table of putative Covs.

[2020-07-12 23:24] rchikhi commented on #197
Fine by me!

[2020-07-12 23:25] rcedgar commented on #197
Including FPs is positively useful because we can use this information to validate the classifier, show the top end of the ROC curve conceptually at least. Another field in the master table should be the nt & protein classifier scores.

[2020-07-12 23:27] rcedgar commented on #193
Suggest adding fields for nt & protein classifier scores as discussed in #197

[2020-07-12 23:44] ababaian commented on #185
Note to self: go back and look at these sequences next weekend. LWIA

[2020-07-12 23:48] ababaian commented on #197
So the issue with those HMM hits is that things like RdRP_1 are built on many viruses, this likely means there's a virus there and there's a good chance it's novel if but likely not a CoV, I'd say include all data into the master table, especially if it's a long contig that got assembled but we're in a gray area with what we're looking at. We'll need a supplementary table of each assembly and the

[2020-07-13 01:08] taltman commented on #196
I don't understand what are you trying to do here, reinvent VADR? Sounds like more wasted effort. Please explain what you need that VADR doesn't give you.

On July 12, 2020 10:11:53 AM PDT, Rayan Chikhi <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-13 01:18] rcedgar commented on #196
For each assembly and each GenBank sequence, we need amino acid translations of the following domains: pp1ab: ADRP, nsp5 (3CLpro), nsp12 (RdRp), nsp13 (Hel), nsp14 (ExoN), nsp15 (NendoU) and nsp16 (O-MT). Note that "domain" is the conserved core of the protein, not a full-length ORF or predicted CDS, so that it will have an approximately global alignment between distant relatives in the family. I

[2020-07-13 01:57] ababaian commented on #196
@taltman / @rcedgar I understood that VADR will give us orf1a and orf1b, does it provide the domain coordinates for these models?

[2020-07-13 02:00] rcedgar commented on #196
No clue, I haven't looked at the VADR predictions because I don't know how to validate them, it looks highly non-trivial to me.

[2020-07-13 02:04] rcedgar commented on #196
@ababaian is it your understanding that virologists use "domain" to mean the cleaved protein product? That's not how domain is used in other contexts.

[2020-07-13 02:18] ababaian commented on #196
Domain means domain like you expect. I meant that in this case it roughly corresponds to cleaved protein product.

[2020-07-13 02:23] rcedgar commented on #196
I would expect domains to be less than half of the protein when we have pair-wise a.a. identities <40%, I think it might be a good idea if you reviewed some VADR predictions if you haven't already; you're probably the best qualified to understand what is in there and check whether it looks reasonable.

[2020-07-13 02:30] rcedgar commented on #196
To explain my reasoning: As I read the ICTV web site, these domains are conserved throughout Cov. Pairwise a.a.'s between highly diverged Cov's are 20 - 40%. In my experience, proteins that are this far diverged are conserved only in hydrophobic core regions and a few critical functional surface loops. The rest diverges in both sequence and structure.

[2020-07-13 04:41] taltman commented on #196
@rcedgar , thanks for the clarification. I will review some of the VADR output files to see if they provide what we need here.

[2020-07-13 05:23] taltman commented on #196
It turns out that for divergent CoVs, the maturation proteins do not get annotated. I opened an issue with Eric regarding forcing VADR to do so even if divergent.

The fastest thing for me to do would be to take the VADR polyprotein calls, and annotate them using the Pfam SARS-CoV-2 models. I can then use that output for extracting the amino acid sequences that @rcedgar and @Pbdas need.

[2020-07-13 09:40] rchikhi commented on #197
There is an additional complication. Suppose, for a given accession,
* the `gc.cv` assembly is a single 15 Kbp contig
* the `gc` >= 1 BGC hits correspond to 3 contigs (possibly including the 15 Kbp contig).
Which is the assembly we should associate to this accession?

[2020-07-13 09:40] rchikhi commented on #197
I'm tempted to go with `gc.cv` whenever it's non-empty, and fallback to `gc` >=1 BGC hits when `gc.cv` is empty.

[2020-07-13 10:37] taltman commented on #196
OK, I have this basically working in my dev environment. I am to tired to continue, so tomorrow morning I'll package it nicely in the docker image, test it, and then send it over to @rchikhi for scale-up.

[2020-07-13 10:59] rchikhi commented on #197
also I'll make a note here that I'm only keeping hits where BGC reports "CoV" and not just any RdRP

[2020-07-13 11:01] rchikhi commented on #196
Ah nice, so, if I understand correctly, this replaces the step (1) from https://github.com/ababaian/serratus/issues/196#issuecomment-657249214 but step (2) remains to be implemented, right?

[2020-07-13 20:13] asl commented on #196
Note that HMMs in Pfam-A.SARS-CoV-2.hmm include score cutoffs, so instead of using E-values it is preferable to use GA thresholds via --cut_ga

[2020-07-13 20:15] taltman commented on #196
Yes, implementing it with the --cut_ga option. Thanks!

[2020-07-13 21:21] taltman commented on #196
I've improved @ababaian's table on the Wiki:
https://github.com/ababaian/serratus/wiki/Translation-Table-for-ORF-1ab-maturation-protein-models

Please let me know how it can be improved. Thanks!

[2020-07-13 21:40] taltman commented on #196
I've experienced an issue with inconsistent annotation for NSP14. I'm going to copy & paste the relevant parts of me email to Eric Nawrocki at NCBI (author of VADR, Infernal). I've reached out to Pfam and UniProt as well.

----

When I run VADR on the NCBI reference SARS-CoV-2 genome, it annotates an exoribonuclease.  I get the following output line in the .ftr file from running VADR on the SARS-C

[2020-07-15 01:45] rcedgar opened #201 "Missing fasta alignments in darth output"
Rayan posted this example output from darth:

s3://serratus-public/assemblies/other/SRR9156994.coronaspades/

This seems to be lacking fasta alignments from pfam, while other sets included them. The Stockholm file does have alignments.

[2020-07-15 17:17] rcedgar opened #202 "Combine host-virus association databases into one tsv file"
GOLD + virushostdb +GB records + ...?

[2020-07-15 17:42] rchikhi commented on #196
Done. `cov5.fa` had:
* 9310 complete genomes, including
  * 9250 GenBank
   * 60 RefSeq
* 34306 fragments (edited)

And after 97% clustering (and dropping fragment too similar to refs):
* 819 complete genomes (RefSeq+GenBank)
* 3509 fragments

Data is here:
https://serratus-public.s3.amazonaws.com/seq/cov5/cov5.complete.uclust0.99.fa
https://serratus-public.s3.amazonaws.com/seq/cov5/cov5.frag.97p.

[2020-07-15 17:53] rcedgar commented on #196
For the master table, complete genomes only, don't worry about fragments, they won't be included.

[2020-07-15 18:03] rchikhi commented on #196
according to https://github.com/ababaian/serratus/issues/193#issuecomment-657126752, they are?

[2020-07-15 18:18] rcedgar commented on #196
Yes, we need a database of fragments so you can align assemblies to it, you're right.

Note we need a tsv with the clustering results so that we know which cluster each sequence belongs to, I think that's missing from your uclust command line, the easiest way to do this is to use the -uc option, e.g. `-uc cov5.complete.uclust0.99.uc`.

[2020-07-15 18:23] rcedgar commented on #196
For minimap2, I don't see your -x option and it doesn't seem to document what the default is, I use `-x map-pb`. If you generally get long alignments covering the whole genome it's probably fine.

[2020-07-15 18:46] rchikhi commented on #196
default is k=15 without homopolymer compression.
It seems to correspond exactly to `-x map-ont`. (as per [the code](https://github.com/lh3/minimap2/blob/a7a01fe5bd4923f767c33b08d2a2f34790b16eec/options.c#L89), which sets k to 15 but k was already 15 by default.)
`-x may-pb` enables homopolymer compression and sets k=19 which is a different sensitivity trade-off.
It's really not clear if we should

[2020-07-15 18:57] rchikhi commented on #196
Done, uc's are in
https://serratus-public.s3.amazonaws.com/seq/cov5/cov5.complete.uclust0.99.uc
https://serratus-public.s3.amazonaws.com/seq/cov5/cov5.frag.97p.uclust0.99.uc

[2020-07-16 11:05] rchikhi commented on #197
so I ended up doing the procedure from https://github.com/ababaian/serratus/issues/197#issuecomment-657448202 for the master table

[2020-07-16 21:37] rcedgar opened #203 "Genbank records missing PFAM annotations"
AB551247.1

AF201929.1

AF208066.1

AY394999.1

FJ647219.1

FJ647220.1

FJ647221.1

FJ647223.1

FJ647224.1

FJ647227.1

JF792616.1

JF792617.1

JX169867.1

KF793825.1

KM349743.1

MH687968.1

MH687972.1

MH687974.1

MN690611.1

NC_010646.1

NC_025217.1

NC_048217.1

[2020-07-16 21:38] rcedgar commented on #196
Seems this issue is fully resolved, tricky one, great teamwork!

[2020-07-16 21:38] #196 closed

[2020-07-16 22:38] rcedgar commented on #194
Closing this issue because we're going to use RdRp at 90% instead of nt sequences, issue description above is now obsolete.

[2020-07-16 22:38] #194 closed

[2020-07-16 22:43] rcedgar opened #204 "Re-build seq/cov5 99% nt redundancy set to prioritize RefSeqs"
With apologies to @rchikhi and @taltman, I overlooked a step in constructing the OTUs. We need to reconstruct the 99% redundant set of full-length genomes and their annotations to ensure that if a RefSeq genome is in the cluster then it becomes the exemplar sequence (Artem's term) / centroid sequence (my term).

@rcedgar: I will build the RefSeq-proritized set of complete genomes and fragments and

[2020-07-16 22:54] ababaian commented on #204
Don't we have annotations for all GenBank sequences by this point?

[2020-07-16 22:56] rcedgar commented on #204
It's my understanding we chose to annotate only the 99% redundancy set to avoid a huge amount of redundancy, e.g. thousands of Cov2 genomes which are all the same from an annotation and OTU construction perspective.

[2020-07-17 01:35] rcedgar commented on #204
@rchikhi @taltman RefSeq-prioritized files below are posted to `s3://serratus-public/seq/cov5/`. I need PFAM taxonomic domain alignments for sequences in both files. Thanks!

[code]

[2020-07-17 05:57] taltman commented on #195
Please make it clear what I need to do for this issue, or please create a separate issue that is just for my part. As it stands, I don't know what to do, and it's freaking me out. :-)

[2020-07-17 06:04] asl commented on #177
I believe the majority of the issues were addressed in the last coronaSPAdes snapshot.

[2020-07-17 06:57] taltman commented on #203
I re-ran NC_025217.1 and AB551247.1. In both cases, the pfam sub-directory was there, with all of the expected files. Reassigning to @rchikhi to see if he can re-run these cases, and either confirm my observation, or reproduce the bug you are seeing.

[2020-07-17 06:59] taltman commented on #203
Weird, I cannot un-assign myself...

[2020-07-17 07:47] taltman opened #205 "DARTH: Uninitialized value error from VADR"
[code]

[2020-07-17 08:03] taltman commented on #201
I see that the assembly file is very large. In fact, if you look at the deflines:

[code]

Looks like some kind of duplicate? Seems unlikely that two unique CoVs would have the exact same length.  Perhaps this is an interesting case for Anton and team? @rchikhi, can you make sure this isn't a CheckV filtering error?

[2020-07-17 08:07] taltman commented on #202
VirusHostDB:
`ftp://ftp.genome.jp/pub/db/virushostdb/`

[2020-07-17 08:13] taltman commented on #202
Annotations from Genomes Online DB with help from Dr. Reddy:
[GOLD-virus-host-associations.xlsx](https://github.com/ababaian/serratus/files/4936519/GOLD-virus-host-associations.xlsx)

[2020-07-17 08:39] taltman commented on #205
Confirmed this bug. Reported upstream to Eric at NCBI:
https://github.com/nawrockie/vadr/issues/21

[2020-07-17 09:44] asl commented on #201
This particular case looks a bit strange, we will investigate it. However, note that several multivirome datasets do have several species inside. SRR2010686 is an example.

[2020-07-17 09:51] taltman commented on #202
Here's the host information for the sequences from the `cov3ma.fa` file:

Format: `accession <tab> virus taxon ID <tab> host free text`

[host-report.txt](https://github.com/ababaian/serratus/files/4936996/host-report.txt)

[2020-07-17 09:53] taltman commented on #202
OK @rcedgar , reassigning to you. There are many ways to combine these three different datasets. I need more guidance regarding the desired format (e.g., columns) for the combined TSV. Thanks!

[2020-07-17 12:47] rchikhi commented on #204
done.
https://s3.console.aws.amazon.com/s3/buckets/serratus-public/seq/cov5/annotations/?region=us-east-1&tab=overview
Some of them are missing (around 18, which is same as yesterday - like the VADR bug that @tlatman reported to the devs)

[2020-07-17 12:49] rchikhi commented on #203
I've re-run everything as part of https://github.com/ababaian/serratus/issues/204

[2020-07-17 13:48] rchikhi commented on #201
to be clear: this is not a checkv filtering error

[2020-07-17 15:12] rcedgar commented on #195
@taltman -- Apologies for the out-freaking. I opened the issues as an "FYI/what shall we do about this?" to the team, you did your part with the PFAM alignments) -- thanks! Now I own this one.

[2020-07-17 16:30] rcedgar commented on #202
Multiple tsvs is fine providing all tsvs have both Virus_TaxID and Host_TaxID. That's all I need for Fig. 1., I can easily combine those columns from multiple tsvs.

[2020-07-17 16:44] rcedgar commented on #205
@tomer this bug is independent of the PFAM annotations, right? Is it possible to run the PFAM alignments on the GB entries that crashed outside of VADR while we're waiting for the bug to be resolved?

[2020-07-17 17:06] taltman commented on #202
I think that we need to think a bit harder about how to combine, as entries in two datasets (or even within a single dataset!) might be talking about the same thing conceptually, but at different levels of granularity ("Canis lupus" vs. "Canis lupus familiaris"). These would require code aware of subsumption relationships between the NCBI Taxonomy IDs to reconcile.

[2020-07-17 17:07] taltman commented on #202
Unless you want me to just drop a hot mess on your plate; of duplicate entries at varying levels of specificity. :-)

[2020-07-17 17:07] rcedgar commented on #202
Yes, drop me the hot mess -- as long as I have taxids that's my problem in Fig. 1.

[2020-07-17 17:08] taltman commented on #202
Ok, I won't over-engineer it. Thanks!

[2020-07-17 17:23] taltman commented on #205
It is not independent, as the Pfam annotations are currently used to identify the maturation proteins on ORF 1ab, and the gene-calling of ORF 1ab comes from VADR.

The first thing I'd like to see is for @rchikhi to re-run these few samples, and see if that clears up some of the failed runs. I can then look at the output from that second run of each sample, to see what the issue is.

[2020-07-17 17:26] taltman commented on #204
@rchikhi, is there an easy way for me to see the per-AWS Batch instance stderr and stdout? Sifting through the combined stream on Cloud Front is not easy...

I basically want to categorize the reason for the 18 failing. Was it all the same VADR bug? Or something different for most of them?

[2020-07-17 17:27] taltman commented on #204
@rchikhi In the mean-time, could you update #203 so that it shows the identity of the 18 that are still failing? Then I could run hmmsearch directly on them in the name of expediency.

[2020-07-17 17:29] rcedgar commented on #203
These are missing PFAM annotations in the new run:

AY395000.1
HQ850618.1
KC008600.1
KM609205.1
KR265759.1
KR822424.1
KX219798.1
KX236009.1
KX236011.1
KX252780.1
KX302862.1
KY983586.1
MG021451.1
MG428702.1
MK071620.1
MN535737.1
MN692789.1
MN794188.1
MT263013.1
NC_034976
NC_046956

[2020-07-17 17:58] rcedgar commented on #183
Assigning @taltman for coverage plot & variant analysis vs. closest genome if close enough (say, >=97% identity per the minimap2 alignment).

[2020-07-17 20:11] rcedgar opened #206 "Additional PFAM alignments"
1. I need PFAM alignments for these fragments for OTU construction: [cov5_fragment_final.id99.fa](https://serratus-public.s3.amazonaws.com/seq/cov5/cov5_fragment_final.id99.fa)

2. I also need PFAM alignments for the missing GB complete genomes due to the VADR bug (#203).

@taltman @rchikhi would it be possible to get these done more quickly & easily by running PFAM on the ORFs instead of waiting

[2020-07-17 20:41] rcedgar opened #207 "Use 97% RdRp a.a. identity for species OTUs"
Per [ICTV](https://talk.ictvonline.org/ictv-reports/ictv_9th_report/positive-sense-rna-viruses-2011/w/posrna_viruses/222/coronaviridae) "[Corona]viruses that share more than 90% aa sequence identity in the conserved replicase domains are considered to belong to the same species."

This threshold is much too low to distinguish known / novel species. As a check, I took the RdRp genes from the ~800 c

[2020-07-17 21:30] ababaian commented on #207
I think we can function with an operational definition of OTU at RdRP at 97% but if we use the word "species" or "genus", those are treated as reserved words matching ICTV criteria. It's not our job to ensure current taxa meets this criteria, only to ensure the listing we have meet this criteria. We can and should discuss in the paper with respect to OTU which we can define how we like and/or how

[2020-07-17 21:44] taltman commented on #206
Sure, I can run then this weekend.

On July 17, 2020 1:11:18 PM PDT, Robert Edgar <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-17 21:46] taltman commented on #183
So Rayan runs Minimap, and can provide the sequence of the closest genome as an argument to Darth, right? Then I can do the rest.

On July 17, 2020 10:59:07 AM PDT, Robert Edgar <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-17 22:36] rcedgar commented on #207
Thanks for the comments @asl & @ababaian. I think I got too deep into this one and started seeing too many irrelevant problems in the details. To say 97% RdRp OTUs as a rough approximation to species based on this histogram is solid, that's the way to go.

[2020-07-17 22:40] #207 closed

[2020-07-17 22:46] rcedgar commented on #183
Sounds right to me. We need minimap2 alignments to three separate references (cannot be combined into one!) anyway for the master table: (a) refseqs, (b) complete genomes including refseqs, and (3) fragments. The SAM file for (a) gives the closest reference genome, though it's not quite trivial, you have to check soft-clipping (Snn values in CIGAR) & %id (given by NM:i tag). Soft clipping should b

[2020-07-17 22:52] taltman commented on #183
I think Rayan and I need to delineate who is doing what.

On July 17, 2020 3:46:51 PM PDT, Robert Edgar <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-18 10:17] rchikhi commented on #183
hey, the minimaps were already run on all assemblies! results are on the master table:
https://serratus-rayan.s3.amazonaws.com/sra_master_table.csv
made using that script:
https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/master_table/minimap2_contigs.sh

[2020-07-18 11:05] rchikhi commented on #183
does it need to be run on the new complete genomes id99 though? that https://github.com/ababaian/serratus/issues/183#issuecomment-660461416 run is on cov5

[2020-07-18 12:54] rchikhi commented on #204
to confirm: has it already been answered by Robert here https://github.com/ababaian/serratus/issues/203#issuecomment-660241894 or is it something dfferent?

[2020-07-18 13:19] rchikhi commented on #203
They're being re-run, batch job ID's:
[code]

[2020-07-18 17:26] rchikhi commented on #203
Quick rundown of the first 5:
Job 1 (AY395000.1): `Use of uninitialized value $uapos in concatenation (.) or string at /vadr/vadr/v-annotate.pl line 3757.`
Job 2 (HQ850618.1) : seems that it completed successfully
Job 3 (KC008600): seems that it completed successfully
Job 4 (KM609205.1): seems that it completed successfully

[2020-07-18 17:27] rchikhi commented on #206
I'm stealing those from your plate @taltman !

[2020-07-18 18:06] rchikhi commented on #206
Results for cov5_fragment_final.id99 are coming to https://s3.console.aws.amazon.com/s3/buckets/serratus-public/seq/cov5/annotations/?region=us-east-1&tab=overview and will be completed in ~30mins

[2020-07-19 05:51] taltman commented on #203
@rcedgar I checked all of the rest of the accessions. they all have non-zero `pfam/alignments.fasta` files. I've updated the issue I created at the VADR repo regarding `AY395000.1`. I think you can proceed with your task. Reassigning to you to confirm that you have no blocker now.

[2020-07-19 05:54] taltman commented on #204
I think that we're discussing the same set of 18, as in #203. As I updated there, I believe all but two entries worked, so @rcedgar should be free to proceed. Reassigning to @rcedgar to either clarify the work to be done, or to confirm the fix and close the issue.

[2020-07-19 05:57] taltman commented on #206
@rchikhi Can you briefly describe how you did this? I don't recommend most ORF callers for this application due to frame shifts. FragGeneScan is the only one that I am aware of that handles this.

[2020-07-19 05:58] taltman commented on #205
As I suspected, merely re-running them seemed to clear up ~96% of the issues. The two accessions that caused that obscure VADR crash have been reported up-stream to Eric.

[2020-07-19 05:59] taltman commented on #205
Thanks @rchikhi for re-running. @rcedgar , please leave this open as a reminder on my part to follow up with Eric.

[2020-07-19 06:01] taltman commented on #201
VADR is unable to handle weird cases like this, when the "genome" really contains two viral genomes. This is something that needs to be fixed upstream of DARTH, so that it only receives one genome at a time. Reassigning to @rchikhi.

[2020-07-19 06:03] taltman commented on #202
@rcedgar, you want the host Order as TaxID as well, right?

[2020-07-19 12:10] taltman commented on #202
Here's the latest version of the `cov3ma` dataset:

`s3://serratus-taltman/scratch/cov3ma-host-data.tsv`

The columns represent: NCBI accession, virus taxID, NCBI Nucleotide host term, host taxID, NCBI Taxonomy host term, Order taxID, and NCBI Taxonomy Order term.

For convenience, here's the same data, in XLSX format:

[cov3ma-host-data.xlsx](https://github.com/ababaian/serratus/files/4943671/cov

[2020-07-19 13:06] rchikhi commented on #206
I ran Darth :) on each of these fragments.

[2020-07-19 14:10] rchikhi commented on #201
I'd recommend to drop those multi-covgenomes samples for now. And look at them in a later pass (after initial submission). Any thoughts ? @taltman @asl @ababaian @rcedgar

If not, we'll need to have a discussion on how to separate genomes.  When a ~29kbp contig is present in a sample (among other contigs), it's clear this one can be annotated on its own.  But many samples are a collection of small

[2020-07-19 15:16] rcedgar commented on #206
Any generic ORF caller is fine, there are no frameshifts within the PFAM domains. E.g. I use getorf in serratax. Note that PFAM domains are shorter than the full-length gene / ORF / CDS / cleaved product (any of these).

[2020-07-19 15:20] #203 closed

[2020-07-19 15:59] rchikhi commented on #201
To give some perspective: among the 10,816 datasets of the master table, 272 (2.4%) of them are larger than 50 kbp (arbitrary threshold at which there's likely >=2 genomes).
Yet among those, 208 (76%) have >= 2 contigs longer than 20kbp. So if we decided to try to separate genome, maybe taking the contigs longer than 20kbp is a viable strategy.

[2020-07-19 16:05] rcedgar commented on #201
If there are 272, then IMO we do need to split them into two assemblies because there are several downstream analyses that assume there is only one virus per SRA. Serratax is one of them, and if I understood correctly then darth is another. I will need PFAM alignments separately if there are two good viruses in one SRA, at a minimum the RdRps if there are two. Regardless of what else we do, I thin

[2020-07-19 16:51] rcedgar opened #210 "Host-virus tables"
For the master tables, we need

(a) previously known virus-host associations, and

(b) virus-host associations for our assemblies.

There should be one tsv for (a) and one tsv for (b). The host should be specified as TaxID at the lowest rank supported by the data, e.g. if a GB record gives the species name, we should include the TaxId for that species in the table. This means the rank will vary de

[2020-07-19 19:59] taltman commented on #202
@ababaian @rcedgar Please remind me where the 'master' file is, with the SerraTax & SerraPlace info for each SRA run?

[2020-07-19 20:02] rcedgar commented on #202
There is/are no master file(s) yet, this will be the end product(s) of combining all the individual tsvs. For virus-host, there will be at least two tsvs, one for known associations and one for our assemblies, as noted in #210. It's fine to have more than two tsvs, e.g. one for GB records, one for some other public database etc.

Re. `cov3ma-host-data.tsv`, it's incomplete -- there are many hosts

[2020-07-19 20:05] rcedgar opened #211 "Run annotation pipeline on 99% nt OTUs"
We need annotations for the updated nt OTUs, FASTA here:

[https://serratus-public.s3.amazonaws.com/seq/cov5/nt_otus.id99.fa](https://serratus-public.s3.amazonaws.com/seq/cov5/nt_otus.id99.fa)

[2020-07-19 20:07] rcedgar commented on #204
Issue superseded by #211.

[2020-07-19 20:07] #204 closed

[2020-07-19 20:08] rcedgar commented on #206
Closed, issue superseded by #211.

[2020-07-19 20:08] #206 closed

[2020-07-19 20:14] rcedgar commented on #201
@taltman I think this problem is fixed now, can I close the issue?

[2020-07-19 20:17] rcedgar opened #212 "Assemblies with >1 Cov"
We appear to have an unsolved problem with assemblies that have multiple Covs.

From @rchikhi in an earlier issue: "Among the 10,816 datasets of the master table, 272 (2.4%) of them have CoV contigs of total size longer than 50 kbp (arbitrary threshold at which there's likely >=2 genomes). Yet among those 272, 208 (76%) accessions have >= 2 contigs longer than 20kbp. So if we decided to try to sep

[2020-07-19 20:22] rchikhi commented on #211
on it

[2020-07-19 20:41] rchikhi commented on #193
an updated master table, with seq technology, also with data from the ~6k BGC-extracted assemblies (not just CheckV)
https://serratus-rayan.s3.amazonaws.com/sra_master_table.csv

[2020-07-19 20:44] rchikhi commented on #193
Note: 40 ONT datasets, which all seem 'fine'. They're all Sars-Cov-2.
E.g.:
accession | length | nb_contigs | category | serratax_id | serraplace_id | refseq_neighbour | refseq_pctid | genome_neighbour | genome_pctid | fragment_neighbour | fragment_pctid | platform
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
SRR11140745 | 29194 | 1 | A | 694009 |   | NC_045512.2 | 100 | MT263399

[2020-07-19 20:45] rcedgar commented on #193
@rchikhi How are you identifying the neighbors? Minimap2? Are you using my python2 script to process the SAM records, or what?

[2020-07-19 20:49] rchikhi commented on #193
Yes, minimap2, your python script, results only extracted from the first hit. It was quick and dirty and can be improved:
https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/master_table/minimap2_contigs.sh

[2020-07-19 20:54] asl commented on #212
We do have information about which contigs do contain RdRp in bgc_statistics.txt.

[2020-07-19 20:55] rchikhi commented on #212
For the record, I vote on dropping those accessions from the initial preprint. Viral contig binning sounds a can a worms

[2020-07-19 20:56] rcedgar commented on #193
1. Cov5.fa is not complete genomes, it's all Cov records from GB, including probable FPs. We can't use all GB complete genomes because some of them are identical or have only a couple of SNPs. I think we should use the subset of ~800 "compelete genomes" from the 99% OTUs https://serratus-public.s3.amazonaws.com/seq/cov5/nt_otus.id99.fa. This subset is not posted on S3 but is trivial to extract by

[2020-07-19 20:57] rcedgar commented on #212
Disagree. If we have two global RdRp HMM alignments that are <97% identical to each other, we have two species. This seems pretty solid to me.

[2020-07-19 20:59] rchikhi commented on #193
1. I hadn't written enough info : I meant that the original `cov5.fa` was taken, but further split into complete/fragments and also clustered at 97%, according to https://github.com/ababaian/serratus/issues/196#issuecomment-658907089. But if you'd rather I rerun alignment to `nt_otus.id99`, it's def possible
2. Ok will modify to have that hit instead.

[2020-07-19 21:42] rcedgar commented on #193
1. Align to (a) nt_otus.id99 "complete genomes" and separately to (b) nt_otus.id99 fragments (=not "complete genome").

[2020-07-19 23:06] rchikhi commented on #211
they're all done, in `s3://serratus-public/seq/cov5/annotations.nt_otus.id99/`
good luck with fig1!

[2020-07-19 23:28] rchikhi commented on #193
done, using those scripts:
https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/master_table/minimap2_contigs.sh
https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/master_table/master_table.py#L62
updated table at same location:
https://serratus-rayan.s3.amazonaws.com/sra_master_table.csv

[2020-07-20 01:15] rcedgar opened #213 "Missing RdRP domain in assembly annotations"
Frank is missing his RdRP:

`aws s3 cp s3://serratus-public/assemblies/annotations/ERR2756788.fa.darth.stripped.tar.gz . `
`tar -zxvf ERR2756788.fa.darth.stripped.tar.gz ERR2756788.darth/pfam/alignments.fasta`
`grep "^>" ERR2756788.darth/pfam/alignments.fasta`
`CoV_NSP2_C`
`CoV_NSP2_N`
`CoV_NSP3_C`
`CoV_NSP4_N`
`CoV_peptidase`
`Macro`

This problem appears to be quite rare, I spot-checked several

[2020-07-20 06:38] asl commented on #213
Here is HMM annotation from bgc_statistics.txt:

[code]

There is RdRP_1 there.

Frank contains 2 contigs and pfam/alignments seems to contains matches from the second one, not for the first one.
@rchikhi What happens with the alignments if there are multiple contigs?

[2020-07-20 13:44] rcedgar commented on #213
Before running the PFAM HMMs, ORFs should be extracted from ALL contigs, just just the designated "best" (longest?) contig because there may be taxonomic genes in several contigs. For running PFAM, a generic ORF-finder is fine, no need to worry about frameshifts -- this should be simple & fast AFAICS.

[2020-07-20 16:14] rchikhi commented on #213
I didn't have the time yet to analyze the following results, but I re-ran Darth on just the 20kbp contig of Frank, and on just the 8kbp contig of Frank:

https://serratus-public.s3.amazonaws.com/assemblies/other/ERR2756788.coronaspades/ERR2756788.coronaspades.gene_clusters.checkv_filtered.fa.darth.tar.gz
https://serratus-public.s3.amazonaws.com/assemblies/other/ERR2756788.coronaspades/ERR2756788.8

[2020-07-20 16:47] ababaian commented on #212
I'd say for immediacy we go with one, then we swing back and pick up the stragglers in a second pass. I would wager 99% of the time this is going to be the same CoV just a strain variant. Leave one of these issues open and we will return to it in a second pass.

[2020-07-20 16:49] rchikhi commented on #213
OK I see here. It's clear that Darth only created `alignments.fasta` from the 8kbp contig only, as @asl suspected.  @taltman, could it be made to create an `alignments.fasta` file for each contig instead?

[2020-07-20 16:50] rcedgar commented on #212
I would agree, except this is a closely related issue to Frank's missing RdRp. Why not kill two pols with one stone and capture all the RdRps in the Cov contigs.

[2020-07-20 16:54] ababaian commented on #212
I mean we cluster by OTU later so we can get rid of duplicates that way so it could work yes. We'll just need to decide if we report how many unique SRA we have or how many unique contigs for count data.

[2020-07-20 17:02] taltman commented on #202
Passive voice isn't great for issues. *WHO* will be creating these two TSVs? I'm planning on creating both unless I hear otherwise.

As I stated above, I only did a limited amount of manual curation, otherwise I'd need to spend several hours resolving all of the typos in GenBank. Not interested.

I'll see which of these accessions overlap with the coronavirus genomes that we recovered, and I'll re

[2020-07-20 17:14] taltman commented on #213
@asl Feel free to direct annotation questions to me going forward. Thanks!

@rcedgar Interestingly, I get a different result with DARTH when annotating the Fr4NK.fa sequence that @ababaian posted on the wiki:

[code]

So I expect that the difference here has to do with the assembly. I'll re-run DARTH on the latest assembly, and see if I can reproduce the issue you're seeing.

Let me explain some m

[2020-07-20 17:18] rcedgar commented on #213
@taltman Suggest it would be simpler and more robst to use a generic ORF-finder like EMBOSS getorf as a query for the PFAM HMMs, makes no assumptions about the genome. I'm not worried about frame-shifts, they don't occur inside the "domains" by PFAM's definition.

[2020-07-20 17:35] asl commented on #212
So, there are few issues here. Actually the Frank problem is due to the subtle problem in the way how assemblies were run, so scaffolder got turned off. We might want to re-run of of the assemblies including Frank to obtain a single scaffold in the results. I believe I saw at least one other dataset that would benefit from it.

Certainly, using all RdRps is another story and is useful for tree bui

[2020-07-20 17:37] asl commented on #213
Yes sure. I was just not expected to see Frank assembled into 2 contigs. But this is a separate story. We already figured out with @rchikhi the reason.

[2020-07-20 17:45] taltman commented on #213
@rcedgar Let me get to the bottom of this, and then we can figure out what to do. I'd really rather not reinvent VADR if I can avoid it. For consistent annotations it is important for the scans to happen on a per-CDS basis, otherwise there's no clear algorithm for reconciling VADR and gene calls from another tool. I know it would solve the problem that you have, but let's see if we can solve both

[2020-07-20 17:47] taltman commented on #205
FYI, I filed this bug in the VADR repo, and Eric responded that he's currently working on a fix:

https://github.com/nawrockie/vadr/issues/21

[2020-07-20 17:52] rcedgar commented on #202
@taltman Apologies for lack of clarity. Confirming it was my understanding that you would create both tsvs. I'm not understanding which host names you are planning to resolve manually and which you are asking me to do, but that should become clear once you hand the tsvs over to me. For previously known associations (GB, virushostdb...), IMO we need all host names resolved. For the SRA, I think we

[2020-07-20 20:40] rchikhi opened #214 "A portion of the master table assemblies will be re-run/re-annotated"
This is just to bring a matter to your attention since it affects assemblies inside the master table. Input is not necessarily needed.

We have found a problem with all assemblies: they were all run with single-end mode, regardless of whether reads were paired-end.
This was due a bug in my script where I trusted the output of a read type detection software, which turned out to always spit 'single-

[2020-07-20 20:46] #211 closed

[2020-07-20 20:57] taltman commented on #214
Thanks @rchikhi. If you have the data at your fingertips, could you please send me five examples from among the 564 with varying levels of fragmentation? I want to manually run DARTH on all of them and closely examine how it performs, to make sure that nothing is being missed due to there not being a single contig. Thanks!

[2020-07-20 21:03] rchikhi commented on #214
Frank:  https://serratus-rayan.s3.amazonaws.com/master_table_assemblies/ERR2756788.fa

65 contigs, 44 kbp total, 96% identity to complete genome neighbor:
https://serratus-rayan.s3.amazonaws.com/master_table_assemblies/ERR4145311.fa

2 contigs, 2kbp total, unaligned to anything: https://serratus-rayan.s3.amazonaws.com/master_table_assemblies/SRR8617922.fa

7 contigs, 15 kbp total, unaligned to any

[2020-07-20 21:05] rchikhi commented on #205
looks like it's been fixed https://github.com/nawrockie/vadr/issues/21#issuecomment-661279793

[2020-07-20 21:09] taltman commented on #205
Yep, he provided me with a work-around for now, and a proper fix will go out in the next VADR release, which will be a few weeks from now. I'll incorporate it into the updated version of DARTH that I'll send to you this evening.

[2020-07-20 21:18] rcedgar opened #215 "PFAM alignments for Toro outgroup"
For tree-building and Fig. 1, we need PFAM alignments (1st priority RdRp for preprint) for these full-length Toros:

NC_007447 NC_022787 NC_034976 NC_046956

[2020-07-20 21:32] rchikhi commented on #215
on it

[2020-07-20 21:51] rchikhi commented on #215
They're in `s3://serratus-public/seq/cov5/annotations/`

[code]

did the Genbank's also:

[code]

[2020-07-20 22:35] rcedgar commented on #215
Extra credit for the GBs 👍
MG957145 and MG957146 are empty, maybe check these in case symptom of annotation problem?
Refseqs look good though, so looks like I'm set for making alignment and tree.

[2020-07-21 08:40] taltman opened #216 "Canonicalize assembly ordering and orientation"
Proposal for how to order and orient the contigs in our assemblies.

While working on two problems (annotating fragmented assemblies and annotating the whole assembly with the Pfam CoV models), I realized that one could help the other.

VADR expects that its input should be in a 'sensible' orientation, with the contigs ordered and reverse-complemented as needed, such that the orientation correspon

[2020-07-21 08:54] rchikhi commented on #216
Nice.

Quick note: this seems to be reference-based scaffolding. The `canonicalize_contigs.sh` script is finding a correct order and orientation but it concatenates contigs, making the result not necessarily accurate at the base level. (i.e. contigs may actually be farther apart in the genome and should be separated by N's; or alternatively, concatenating contigs that were overlapping would actual

[2020-07-21 08:58] taltman commented on #216
I concatenate the individual FASTA entries into a multi-FASTA file; I'm not concatenating the sequences themselves. Does that make sense?

[2020-07-21 09:01] taltman commented on #216
Might be best with an example:

[code]

[2020-07-21 09:28] taltman commented on #213
In coming up with a fix for annotating fragmented genomes (#216), I implemented a fix for this as well.

Now, there is a `transeq` sub-directory in the annotation output, with a `alignments.fasta` file that has the aligned hits to the Pfam models, which are now ran against the 6-frame translation of the assembly.

Once @rchikhi has a chance to incorporate into his Batch script and reprocess, @rced

[2020-07-21 09:32] taltman commented on #201
The immediate issue is fixed with #216. The side-bar about multi-CoV assemblies has been moved to #212. Closing.

[2020-07-21 09:32] #201 closed

[2020-07-21 09:33] rchikhi commented on #216
Ahhh I had missed that! Then in that sense I have no complaint. So VADR was sensitive to the order of contigs, huh?

[2020-07-21 09:35] taltman commented on #205
Confirmed that my implementation of the work-around works for the example above. Closing!

[2020-07-21 09:35] #205 closed

[2020-07-21 10:22] taltman commented on #214
Implemented and tested extensions to DARTH to make it handle multi-contig assemblies. Handed off to @rchikhi. Please let me know ASAP if you see any issues.

[2020-07-21 10:25] asl commented on #216
So, from the assembly standpoint here is what we could do:
  - Select from bgc_statistics.txt the contigs with RdRp
  - Check what is before (possible empty) and after (possible empty)
  - Decide judging from the names of matches is the contig should be reversed or not

[2020-07-21 10:27] taltman commented on #212
I wanted to share a specific example of an assembly with multiple contigs, seemingly coming from different genomes.

Here is the FTR table output of VADR for `SRR8389793`:
[code]

If you look at the 4th column, it is the "model" column. This is the NCBI Nucleotide accession for the closest-matching RefSeq model (a VADR model is an organized set of CMs). You'll notice that there are six contigs wit

[2020-07-21 19:12] taltman opened #217 "Create ranked list of BioProjects for Co-Assembly"
Some SRA samples have tantalizing signal that they contain a novel CoV, but there's insufficient read coverage in a single SRA run to assemble a complete genome sequence. For some of these fragmented assemblies, we may be able to perform co-assembly with SRA runs from the same BioProject, so that we're more likely pooling reads from the same strain.

The criteria for this list are as follows (@rce

[2020-07-21 19:16] taltman commented on #217
@ababaian, are there folks working on Tantalus that could help with Steps 1, 3, and 4?

[2020-07-21 19:33] rcedgar commented on #217
Suggest changing the title of the issue because it's not a given that candidates need to be in the same BioProject.

I propose using two complementary approaches to find candidates for co-assembly.

(A) Identify fragmented assemblies that are potentially the same virus. This can be done from Rayan's master table by finding shorter contigs with similar nearest neighbor & identity. These do NOT need

[2020-07-21 19:49] rcedgar commented on #217
Further thoughts: FWIW, I would guess there will be no more than a handful of good targets for co-assembly and it will be worth doing a manual review for each candidate. IMO it's not worth going to this much trouble to capture one more sub-strain of PEDV or bronchitis, hence discarding everything >97% to known which I'm guessing will cut this down to a very short list. Conversely, it _**is**_ wort

[2020-07-21 19:58] rchikhi commented on #215
I re-ran MG957146 again and got indeed this error:

[code]

[2020-07-21 20:13] asl commented on #215
@rchikhi MG957146.1 is only 7 kbp

[2020-07-21 20:16] asl commented on #215
The only match I'm seeing is to https://pfam.xfam.org/family/Spike_torovirin

[2020-07-21 20:18] rchikhi commented on #215
indeed! so not quite a complete genome..

[2020-07-21 20:25] asl commented on #215
Yeah. And they mark only 4 genes there...

[2020-07-21 20:28] ababaian commented on #217
I wouldn't worry about things that did not make it past the first 'assembly' filter we defined. The starting point should be the ~55K we assembled that then ...

Do not have a complete genome AND

Are not more of the same for what's repeated. Essentially start with the most distant members and work your way "up" from there. Expand this to include "closest known GenBank sequence", be it fragment, g

[2020-07-21 21:12] taltman commented on #217
@rcedgar send the following on Slack:

[2020-07-21 21:17] asl commented on #217
I did some checks previously:
 * For SRR5234495 we’re only having 1 sample in the project. There are 3 other SRAs there, but for embryo, not for juvenile. Our assembly contains 16 kbp isolated contig.
 * For SRR1324965 there is also SRR1324966, however I have not checked our assembly there.

[2020-07-21 22:37] rcedgar opened #218 "Filter Ion Torrent (other?) from OTU table"
SRR11840026 is an Ion Torrent dataset which gave a novel OTU which is most likely a false positive due to Ion sequencing.

The master assembly table has "?" for the SRR11840026  "platform" field, same for more than half the assemblies. Can this be fixed to give the correct platform? Do I need to go back to the SRA runinfo's ... hope not!

[2020-07-21 22:38] asl commented on #218
IonTorrent might have elevated # of indels => frameshifts...

[2020-07-21 22:41] rchikhi commented on #218
I'm automatically parsing the SRA runinfo CSV's that Artem gave me, but many accessions were from the STAT list, hence not Serratus, thus we don't have metadata for them

[2020-07-21 22:44] rcedgar commented on #218
@rchikhi  Can you fix this by downloading the SRA runinfo files that are missing? IMHO the master table should be fixed rather than me doing a post-processing hack...

[2020-07-21 22:47] rchikhi commented on #218
I can try tomorrow but I don't know an immediate way to download a runinfo from a massive list of arbitrary accessions

[2020-07-21 22:53] rcedgar commented on #218
You can do it in Batch Entrez (https://www.ncbi.nlm.nih.gov/sites/batchentrez) as follows: make a text file with the accessions, browse to the file, and click "Retrieve". This will send you to the SRA web page with the answer to the query. Select Sent To, format RunInfo. There is surely an equivalent way to do this from the command-line using the NCBI command-line utilities epost, efetch, somethin

[2020-07-21 22:54] rchikhi commented on #218
excellent, thanks!

[2020-07-21 22:59] taltman commented on #218
Unfortunately you can't really use EDirect from the command line for extracting SRA data using standard unixy tools, as it is all returned as XML. You'll need to use some command-line XML parser. What I recommend is to use BioPython.

Actually, there might be some overlap between this, the queries that we might want to do for co-assembly, and my need for pulling out host information. Kill three bi

[2020-07-21 23:01] taltman commented on #218
@rcedgar, also help me understand which accessions are of interest; just the ones with platform '?' ?

@rchikhi I'll generate the report, and you'll do the patching into the master-of-the-universe file. Tell me which columns I'll need to extract beyond the SRA accession to allow you to join the tables. Those birds won't know what hit 'em.

[2020-07-21 23:03] rchikhi commented on #218
Ah! great, thanks Tomer. I only need the 'Run' and 'Platform' fields from the sra metadata..

[2020-07-21 23:07] rcedgar commented on #218
How about this:

@tomer make a tsv file from the runinfo's for all the assemblies. (IMO csv is a totally brain-damaged format because commas often appear in text while tabs rarely do, see `csvformat -h`).

@rchikhi remove runinfo fields from the master table, stick to what you get from the assemblies. Maybe switch to tsv format :-)

Keep two separate tsvs, this is fine, no need to join everything

[2020-07-21 23:09] taltman commented on #218
Yeah, I'm with you @rcedgar. I'm a tabby myself.

Which SRA accessions, all of the ones in the current version of the master file?

[2020-07-21 23:14] rcedgar commented on #218
Using the current master file makes sense. If we add new assemblies for some reason you can use the same script to add new entries incrementally.

[2020-07-22 04:10] rchikhi commented on #218
I initially had a TSV for the master table, but then I also had empty fields which messed up column display..

[2020-07-22 07:19] asl commented on #217
I tried to co-assembly SRR1324965 and SRR1324966. Note that the contig had quite decent coverage and SRR1324966 was empty. There was no improvement.

[2020-07-22 11:08] taltman commented on #218
Here's what I have so far: `s3://serratus-taltman/scratch/sra_disaster_table.tsv`

Also, attaching for convenience.

Columns: SRA accession, BioProject, Platform, Instrument Model, sample taxonID, sample scientific name

Note: Entrez queries are SRX-oriented, not SRA-oriented, so effectively my queries pulled down all SRA metadata for all Experiments where one or more of the experiment's SRA runs

[2020-07-22 11:10] taltman commented on #218
As you can tell, the sample taxon and scientific name field is a mess. A semantic mix of "where the sample was obtained" and "what we find inside the sample".

[2020-07-22 15:00] rcedgar commented on #218
@taltman SRA table look great, thanks! You make a good point about the semantic mix, I hadn't given that enough consideration. Getting a good set of assembly-host associations is going to be a fair amount of work. I'll open a new issue proposing a strategy. Your table solves the I-T filtering so I'll close this issue.

[2020-07-22 15:35] rcedgar opened #219 "Procedure to construct assembly-host association table"
@taltman has drawn our attention to the semantic mess inhabiting the SRA TaxID and Scientific Name fields. First, the host may be specified as a generic name ("pig") only. This can be fixed systematically (albeit tediously) by manual review. A more serious problem is identifying cases such as "beetles tending mouse carcass" where host TaxID is given as beetle, but the viral host is more likely to

[2020-07-22 15:40] ababaian commented on #219
That sounds very reasonable, I think you're right in that when you deal with easily fixable cases such as Pig --> taxid and then filter again for cases where virus host != sra organism we will have a relatively short list that we can manually curate.

I'd be happy to do this.

[2020-07-22 16:08] rchikhi commented on #214
The new master table is [here](https://serratus-rayan.s3.amazonaws.com/sra_master_table.csv):  `s3://serratus-rayan/sra_master_table.csv`
the old master table is [still available]( https://serratus-rayan.s3.amazonaws.com/sra_master_table.prior_to_rescaffolding.csv) (just in case).

The new [assemblies ](https://s3.console.aws.amazon.com/s3/buckets/serratus-rayan/master_table_assemblies/?region=us-

[2020-07-22 16:13] rchikhi commented on #214
The list of the 564 accessions affected by this rescaffolding is [here](https://serratus-public.s3.amazonaws.com/assemblies/analysis/rescaffolded.accessions.txt) btw.

[2020-07-22 16:46] taltman commented on #218
Actually, let's keep this open until we have worked out a pipeline for integrating this info into the 'master' table.

[2020-07-22 16:58] rcedgar commented on #218
Conceptually, "data about the SRA according to the SRA" and "data about one assembly derived from the assembly" are not the same. Therefore IMO fine, actually better, to keep these as separate tables -- suggest declare victory and close issue.

[2020-07-22 17:04] rcedgar commented on #191
@taltman Can we close this? Or unassign me? From my perspective Serratax is the solution. If there is an open issue for me, please clarify, thanks.

[2020-07-22 19:44] ababaian commented on #191
I think source in this case is host organism not virus

[2020-07-22 20:03] taltman commented on #218
@rchikhi Here is where you can find the `sra_metadata.py` script. Look at the docstring at the top for an example of how to use with the sra_master_table.csv file.

https://github.com/ababaian/serratus/tree/taltman-dev/src/summarizer

I submitted a pull request, so hopefully it will not be in an obscure branch in the future.

Reassigning to you. Feel free to close the issue if you think this is go

[2020-07-22 21:31] rchikhi commented on #214
As per a discussion on Slack, here is the list of accessions which have a discrepancy (likely due to a bug in my scripts) between the old master table and the new master table, which _isn't_ due to rescaffolding: SRR9966507 SRR9613509 SRR9831606 SRR9432058 SRR9432086 SRR9432154

[2020-07-22 21:43] rchikhi commented on #218
Thanks for taking this off my plate @taltman! very useful script.

Regarding the bikeshedding debate of putting this info in the master table or not, well, I've already integrated the `sra_disaster_table.tsv' yesterday before I saw this debate, so probably won't undo the work.

[2020-07-22 21:43] #218 closed

[2020-07-23 09:12] taltman opened #222 "Align poly-A tail reads against assembly to identify putative 3' of genome"
If we can clearly identify the start and the end of a CoV genome, we could be more confident in labeling a given assembly as complete or partial, and also for helping to disentangle very complicated CoV assembly graphs. At first, we thought that we could use 5' & 3' UTR models, but these regions lacked adequate conservation. While the rest of the 5' end is full of well-defined and predictable prot

[2020-07-23 09:14] taltman commented on #222
... could this also identify the 3' end of alternative viral transcripts?

[2020-07-23 09:17] rchikhi commented on #222
note: all the reads I downloaded were immediately polyA-trimmed by fastp for assembly

[2020-07-23 09:21] taltman commented on #222
Going forward, we could notate those reads' IDs before trimming. And then retain the IDs for doing this sort of analysis. And we could probably do this for the handful of tough cases where we need some help disentangling the assembly graph.

[2020-07-23 13:26] rchikhi commented on #213
The new list of PFAM alignments is ready in `s3://serratus-public/assemblies/annotations/`.
It consists of all the files ending with `darth.alignments.fasta` (note: important to use `*.darth.alignments.fasta` and not just `*.alignments.fasta`, see the table below why).
There are 4,833 `darth.alignments.fasta` files (@rcedgar is this more accessions than what you had before?).

S3 folder structure:

[2020-07-23 13:29] rchikhi commented on #214
All annotations for multi-contig assemblies have been re-run, as per https://github.com/ababaian/serratus/issues/213#issuecomment-663006125

[2020-07-23 13:36] rchikhi commented on #214
Oh and also, I promised to post how many accessions have changed in the before/after master table. Here it is:

44 accessions out of the 564 rescaffold have a difference in number or contigs or total length.

accession | #contigs (before) | #contigs (after) | Total length (before) | Total length (after) | * = wasn't part of the rescaffolding
-|-|-|-|-|-
SRR8389831 | 5 | 5 | 16519 | 14735 |
SRR8389

[2020-07-23 15:05] rcedgar commented on #213
@rchikhi Before there were 10,887 `[accession].fa.darth.stripped.tar.gz` files of which 4,413 were not empty. Assuming your 4,833 are not empty (I haven't checked), then I have more now.

[2020-07-23 16:13] rcedgar opened #223 "Capture multiple RdRp's from one assembly"
Spot-check suggests that at most one RdRp per assembly is captured in the most recent PFAM alignments. If there is >1, we should capture all of them. Punt for now, revisit for next round of analysis after PSI-Serratus. See discussion in #212.

[2020-07-23 17:20] rcedgar commented on #223
Some of these viromes have hundreds of RdRps. If there are multiple species here, which seems likely, then IMO we should tackle these sooner rather than later.

[code]

[2020-07-23 18:50] rcedgar opened #224 "PFAM alignment bug"
Example s3://serratus-public/assemblies/annotations/DRR220591.fa.darth.alignments.fasta. Looks like multiple alignments are concatenated into one RdRP_1 sequence.

[2020-07-23 23:19] rcedgar opened #225 "Plan for Fig 1 for discussion on July 24th status call"
Data is organized into OTUs defined by clustering RdRp a.a. sequences.

Fig. 1 uses two OTU thresholds: 99% (~sub-strain) and 97% (~strain).

Central to the figure is a radial cladogram tree, something like this:

![image](https://user-images.githubusercontent.com/7947388/88350931-7932e600-cd09-11ea-8382-3ae00b3b1085.png)

https://drive5.com/tmp/pol.svg

The tree will be constructed by @Pbdas usin

[2020-07-24 11:25] Pbdas commented on #225
trees are here: s3://serratus-public/pb/results/otus_plus_toro.tar.gz

rooted versions have the `.rooted` postfix

[2020-07-24 11:29] Pbdas commented on #225
note that the above is the result of 100 searches + 1000 bootstraps. If we decide to take this, I can still scale it up. This one took approx. 2:40h

[2020-07-24 14:20] taltman commented on #224
I looked into the issue, and updated my AWK script to account for multiple domain matches within an assembly. Here is a sample output. If it looks good to you, I'll commit the changes.

[code]

[2020-07-24 14:24] taltman commented on #224
If you look at the Pfam-style coordinates which are now included in the deflines, you will see that contigs Node_1 and Node_2 have the same residue coordinates, as do Node_3 and Node_4. Are these two contig duplicates due to coronaSPAdes?

Also, all four alignment sequences are exactly the same.

[2020-07-24 14:25] rcedgar commented on #224
This looks good. FYI the total length can vary if the number of insertions varies (lower-case letters). The number of upper case letters plus gaps shown as dashes (-) should be the same for every a2m sequence; 461 for RdRP_1. Sometimes a2m has a second type of gap indicated by periods (.), these also indicate variable-length insertions but I haven't see any in these files.

Will the coordinates be

[2020-07-24 14:27] asl commented on #224
Yes, it might be if we'd output multiple variants. I doubt that they will differ in RdRp, so everything seems as expected.

[2020-07-24 14:27] rcedgar commented on #224
I think Coronaspades is calling variants in this example, the reads contain two different strains of virus. They may have SNPs elsewhere in the contig and it's not surprising if the RdRP is identical in cases like this.

[2020-07-24 14:30] rcedgar commented on #224
Kudos to @asl on this BTW, I was a bit skeptical of CS at first but I shouldn't have been -- it's doing a great job,

[2020-07-24 15:48] ababaian commented on #225
For the tree search can we include All Toro (I would opt for all Nido) and clip down to 3 leaves post-hoc. We don't know which Toro sequences ahead of time are the closest to CoV/Eps for inclusion.

[2020-07-24 19:27] taltman commented on #224
Code committed, @rchikhi , could you please integrate the few changed lines in darth.sh into your image? Thanks!

[2020-07-24 19:34] rchikhi commented on #224
done. ah nice. So can you please give me a list of accessions to rerun?

[2020-07-24 22:48] rchikhi opened #226 "Extracting genome structure [from Darth, or not]"
I think the file `[accession].darth/[accession]/[accession].vadr.pass.tbl`gives the genome structure:

E.g.

[code]

This is what we'd like to plot, right?

[2020-07-24 23:18] rchikhi commented on #226
This information is present in another format in the `.vadr.ftr` files. For RdRP's, over all accessions, it looks like:

[code]

Emphasis on the PASS/FAIL column. @rcedgar , how many RdRP's did you end up considering? I get the following numbers:

[code]

[2020-07-24 23:52] ababaian commented on #202
Here is the cov3 accession table cleaned up for host-source.

[cov3ma_genbank_host_taxid.xlsx](https://github.com/ababaian/serratus/files/4974633/cov3ma_genbank_host_taxid.xlsx)

[2020-07-25 00:33] rcedgar commented on #226
I got 2875 RdRPs in the last round where multiple RdRP's per assembly were discarded.

[2020-07-25 00:38] rcedgar commented on #226
To @rchikhi's question "This is what we'd like to plot, right?". Yes, this is the type of information you need. However, that looks like VADR output, which we we do not want to use for the genome structure annotation. The concern here is that VADR annotates by comparison with the nearest RefSeq, and it seems likely it will degrade and perhaps fail to identify genes as we get into the more novel, a

[2020-07-25 00:53] rcedgar commented on #226
Actually, if I got more RdRP's (2876) from the PFAM alignments than VADR is reporting (2424 if I understand correctly), then this seems to confirm my point that PFAM on naive ORFs is more robust.

[2020-07-25 13:17] rchikhi commented on #226
OK thanks for the extensive explanation.
ORF-finding + HMM would be a full-fledged viral annotation pipeline, no? looking e.g. at [VGAS](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6381048/) (which detects and BLASTs ORFs, see [pipeline](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6381048/bin/fmicb-10-00184-g0001.jpg)). There's also [VIGOR] (ORF+BLAST too) (https://www.ncbi.nlm.nih.gov/pmc/artic

[2020-07-25 13:56] rchikhi commented on #226
Looks like I can answer my own question partially, by quoting the [VIGA](https://www.biorxiv.org/content/10.1101/277509v1.full.pdf) article:

Sounds like VIGA implements what @rcedgar suggested in https://github.com/ababaian/serratus/issues/226#issuecomment-663784490

[2020-07-25 13:56] rcedgar commented on #226
No, on the contrary we should use very simple naive ORF-finder like emboss getorf. We don't need to worry about frameshifts because they don't occur inside the conserved regions of the domains, and we don't need to extend the ORFs to the boundaries, so a very naive algorithm is exactly what we need because no understanding of the genome is required. The term "ORF" is overloaded -- usually it means

[2020-07-25 13:57] rcedgar commented on #226
Oops, our comments crossed. VIGA might be fine, don't know it.

[2020-07-25 13:58] rchikhi commented on #226
Yep crossed comments! I think we both agrees on the meaning of ORFs.
For the sake of minimizing efforts, I'll start with VIGA, and roll my own pipeline only if needed.

[2020-07-25 14:04] rcedgar commented on #226
"why are all these state of the art gene finding tools using ORF finding +BLAST and not ORF finding + HMM?" It's been a while since I looked closely at homology detection, BLAST is faster and there are many more known proteins than there are PFAM HMMs. HMMs are better for finding very diverged domains, but for gene finding, you generally don't want very deep homology detection because you only fin

[2020-07-25 14:06] rcedgar commented on #226
In our case, we need HMMs because viruses evolve very fast, even within Cov I've seen pairs of RdRP's at ~20% a.a. identity which is getting to the limit of blastp detection. With typical genes in bacteria or eukaryotes, the function has often changed at this divergence, in viruses very often not.

[2020-07-25 14:41] rchikhi commented on #226
ah, great to know!!

[2020-07-25 15:34] rchikhi commented on #226
OK Viga was a pain to install and had too many other unwanted features. I'm rolling my own using getorf. Two questions:
1) Which HMM database to use?
Darth uses: ftp://ftp.ebi.ac.uk/pub/databases/Pfam/releases/Pfam_SARS-CoV-2_2.0/Pfam-A.SARS-CoV-2.hmm
Viga uses: http://dmk-brain.ecn.uiowa.edu/pVOGs/
2) @taltman and @asl seem to be doing `transeq -frame 6` before `hmmsearch`. This doesn't find ORFs

[2020-07-25 16:19] rchikhi commented on #226
Answered on slack: 1. Pfam_SARS not pVOGs (which is phage). 2. both would work, transeq seems indeed the more sensitive option.

[2020-07-25 16:32] rcedgar opened #227 "Develop Nido HMM library for genome annotations"
A good starting point is Pfam_SARS. I reviewed it a few weeks ago, and IIRC it has pretty good coverage of Betacov genes, but doesn't include some of the genes towards the 3' end found in other genera. For genome structure, we ideally want to include all genes known to occur in Nido. This is a fair amount of manual labor to go through the literature and online to make a list of genes and try to ma

[2020-07-25 16:58] ababaian commented on #227
We can probably start from eggnog or something else initially, are we interested in ORF, mature proteins, domains within the proteins? What level of resolution should we aim for?

[2020-07-25 17:07] rcedgar commented on #227
Resolution = domain structure figure.

[2020-07-25 17:08] rcedgar commented on #227
Nothing overlapping. Not mature proteins because we can't predict them in highly diverged genomes. So the answer is probably close to whatever PFAM considers to be a "domain".

[2020-07-25 22:10] asl commented on #227
We can extract relevant HMMs from https://github.com/EBI-Metagenomics/emg-viral-pipeline. The description is: "VIRify’s taxonomic classification relies on the detection of taxon-specific profile hidden Markov models (HMMs), built upon a set of 22,014 orthologous protein domains and referred to as ViPhOGs".

[2020-07-26 01:41] taltman commented on #226
I don't understand what is going on here. What is the problem? Can someone catch me up?

[2020-07-26 09:28] rchikhi commented on #226
So the initial motivation for this issue is to do a figure for the paper. For each single-contig assembly, plot where the genes are. Like this:
![image](https://user-images.githubusercontent.com/1218301/88475659-57687780-cf32-11ea-869e-b688b6ee92ea.png)
(image taken from Internet)

But according to https://github.com/ababaian/serratus/issues/226#issuecomment-663784490 we can't reuse VADR output as

[2020-07-26 16:27] taltman commented on #226
That's right, VADR doesn't use a HMM. It uses a much more sensitive CM, and it uses BlastX (or, optionally, a HMM) to confirm in amino-acid space the hit in nucleotide space.

By using that approach, VADR was able to find an RdRP in SRR057858 whereas the Pfam search missed it (as mentioned last night on Slack). So it is erroneous to assume that the VADR output is not of use.

Are you using the ord

[2020-07-26 18:11] asl commented on #226
@taltman Something is not right here. coronaSPAdes was able to find RdRP on the edges of the graph using HMM alignments. We basically did `transeq -6` on the assembly result and again there was am HMM match. So, looks like something is not correct inside the annotation pipeline, so the RdRP alignment got missed?

[2020-07-27 05:47] taltman commented on #227
I recommend the following:

* Pull out all curated Nidovirales proteins from UniProt (aka the ones from SwissProt), which is n=~540
* Scrape out the Pfam annotations curated on those entries
* Create a Pfam library consisting of the union of these Pfam entries from SwissProt and the CoV-specific Pfam set we've been working with to date

This should give us a good balance of coverage and working wi

[2020-07-27 05:49] taltman commented on #224
I think @rchikhi has re-run some of the assemblies & their annotations using this version of Darth, so I will close this for now.

[2020-07-27 05:50] taltman commented on #223
The latest version of Darth captures multiple domain hits for a given Pfam model across multiple contigs. Closing for now. Please feel free to reopen if you catch this not working in a specific SRA.

[2020-07-27 05:52] taltman commented on #213
I believe this is been addressed. Please feel free to reopen if you see more issues in a specific SRA.

[2020-07-27 19:47] #214 closed

[2020-07-28 06:23] taltman commented on #213
Reopening to confirm fix.

[2020-07-28 06:24] taltman commented on #223
Reopening to confirm fix.

[2020-07-28 06:24] taltman commented on #224
Reopening to confirm fix.

[2020-07-28 06:25] taltman commented on #215
Reopening to use as test-case for the new Nido-Pfam library that I created.

[2020-07-28 06:28] taltman commented on #223
Adding the following accessions as cases to double-check, as reported on Slack by @rcedgar : ERR963087 SRR10252889 ERR3460960 SRR6713876

[2020-07-28 06:33] taltman commented on #223
Testing fix, one comment per accession tested:

[2020-07-28 06:34] taltman commented on #223
ERR963087:

Multiple RdRP entries found:

[code]
... and the have the expected length:
[code]

[2020-07-28 06:36] taltman commented on #223
SRR10252889 looks good now:

[code]

[2020-07-28 06:38] taltman commented on #223
ERR3460960 looks good too:

[code]

[2020-07-28 06:39] taltman commented on #223
SRR6713876 looks good too, three RdRP_1 domains found:

[code]

[2020-07-28 06:44] taltman commented on #223
I spot-checked one of the accessions that @rcedgar reported had 'hundreds' of RdRPs: SRR11648360. It had no RdRPs found. What was the basis for saying that there are hundreds of RdRP domains in the assembly?

[2020-07-28 06:51] asl commented on #223
bgc_statistics.txt of SRR11648360 shows # RdRP_1-domains - 1100

[2020-07-28 06:55] asl commented on #223
I'm having:
[code]
[foo.sto.txt](https://github.com/ababaian/serratus/files/4986472/foo.sto.txt)
[foo.tblout.txt](https://github.com/ababaian/serratus/files/4986476/foo.tblout.txt)

[2020-07-28 06:56] taltman commented on #223
Here is what I get from Pfam:
[code]

[2020-07-28 06:58] taltman commented on #223
@asl, what do you get when you do a Pfam on this assembly? `s3://serratus-rayan/master_table_assemblies/SRR11648360.fa``

[2020-07-28 07:02] asl commented on #223
Mine is
[code]

[2020-07-28 07:11] taltman commented on #223
Can you confirm that `SRR11648360.coronaspades.gene_clusters.fa` is bit-identical with `s3://serratus-rayan/master_table_assemblies/SRR11648360.fa`?

[2020-07-28 07:20] taltman commented on #213
Confirming that a single RdRP_1 is found for Frankie, and at the expected length:

[code]

[2020-07-28 07:20] #213 closed

[2020-07-28 07:23] taltman commented on #223
I think some terminology might help clarify things. Are you testing the "raw" assembly, or the "filtered" assembly (using checkv or BGC approach)? And is the file that I am copying from S3 using the same filtering approach as the (filtered?) assembly that you are analyzing?

[2020-07-28 07:25] taltman commented on #224
Confirming that four RdRP_1 domains are found, with the expected length:

[code]

[2020-07-28 07:26] #224 closed

[2020-07-28 07:30] taltman commented on #223
@asl Unless I hear otherwise from you, I believe the point that you are raising is an orthogonal concern  to the multiple RdRP issue. I am going to create a separate issue for your point, so that I can commit my code fixes and ask @rchikhi  to confirm my fixes before closing the issue.

[2020-07-28 07:33] taltman opened #228 "Discrepancy in counting RdRp hits in SRR11648360"
See issue #223.

When @asl runs Pfam on `SRR11648360.coronaspades.gene_clusters.fa`, he gets hundreds of hits.

When I run on `s3://serratus-rayan/master_table_assemblies/SRR11648360.fa`, I do not get any hits.

@asl, can you please post a S3 URI to the file you analyzed, or just upload it to this issue?

@rchikhi, can you please confirm that I'm looking at the right assembly file?

[2020-07-28 07:42] taltman commented on #223
Adding in analysis of the following accessions, because @rcedgar noticed non-standard alignment length: SRR5912616 SRR5912645 SRR6713708

[2020-07-28 07:43] taltman commented on #223
SRR5912616: The alignments have the correct length if we also take care to remove '.' (period) entries:

[code]

[2020-07-28 07:45] taltman commented on #223
Removal of pesky periods for SRR5912645 seems to do the trick as well:

[code]

[2020-07-28 07:47] taltman commented on #223
... and same scenario for SRR6713708:

[code]

[2020-07-28 07:51] taltman commented on #223
@rcedgar For your reference, as per [this Wikipedia page on Stockholm format](https://en.wikipedia.org/wiki/Stockholm_format), the '.' is another valid character for representing an insertion, like '-'.

[2020-07-28 07:58] taltman commented on #223
@rchikhi I just pushed my code changes to the Darth BitBucket. Reassigning this issue to you to confirm the fix. Please review my commit, incorporate, and test on the assemblies above. Note that I created an optional 7th argument to darth.sh that, when it equals 'canonicalize_only', it will just do the canonicalization step, and then exit, which makes confirming these fixes locally very fast, as y

[2020-07-28 08:00] taltman opened #229 "OTU pipeline must delete '.' insertion character from Pfam a2m-formatted output produced by darth"
See #223.

[2020-07-28 08:04] taltman commented on #223
@rchikhi Please try to do a quick test of my code ASAP, so that I have a chance to fix any bugs before 10 AM PDT, Tuesday morning. Thanks!

[2020-07-28 08:42] rchikhi commented on #228
`s3://serratus-rayan/master_table_assemblies/SRR11648360.fa`

is the right assembly file as it has been filtered for CoV hits. This assembly only has 1 small cov hit.

In `gene_clusters.fa` (unfiltered for cov) there are many RdRP hits but since they're not on cov-filtered contigs, we discard them.

[code]
So bottom line: this dataset maybe has cov but certainly not all cov genes.

[2020-07-28 08:43] taltman commented on #227
Tested, now documented too:
https://github.com/ababaian/serratus/wiki/Creating-taxon-specific-slices-of-the-Pfam-HMM-database

Currently integrating into DARTH, to make it easy for @rchikhi to run it on our divergent assemblies.

[2020-07-28 09:42] taltman commented on #227
Implemented this in Darth on a separate branch, so that this doesn't interfere with the 'production' usage of Darth till this point. @rchikhi , please see new branch `nido-pfam`. I've tested it on `SRR5234495`, and it works fine. Please feel free to use this set-up for the other divergent assemblies that we want to annotate for the genome structure plot.

[2020-07-28 09:43] taltman commented on #227
Reassigning to @rchikhi to test as part of generating the genome structure plots.

[2020-07-28 12:15] rchikhi commented on #223
The new code implements the same `awk` fix as the one I ran yesterday. (I manually reviewed your commits, I don't think I missed any key difference but you never know..)
To be clear, the ` tr -d '[a-z.]' ` part that deletes the '.' characters shouldn't be executed as part of darth (or canonicalize_contigs), but instead the '.' should be parsed by @rcedgar, right?

[2020-07-28 17:43] taltman commented on #223
The only tweak is that I make the deflines unique by doing 'print ">" pfam[id] " " id'.
This is convenient, as it allows @rcedgar to see where these different RdRP_1's are coming from in the assembly.

There's nothing wrong with the '.' character; it is valid Stockholm format. The OTU pipeline must handle it gracefully, as you mentioned, as part of #229.

[2020-07-28 17:46] rcedgar commented on #223
Dotted gaps are unusual (arguably non-standard) in a2m, but agreed I can delete them, and I should have caught this myself after Artem & Rayan's fix, my bad. Looks to be working now, closing this issue.

[2020-07-28 17:46] #223 closed

[2020-07-28 17:47] rcedgar commented on #229
Done.

[2020-07-28 17:47] #229 closed

[2020-07-28 18:16] rchikhi opened #230 "Assemblies were updated (7/28) due to two bugs"
Due to two parsing bugs, the list of assemblies along with the master table was updated today.

As usual, latest assemblies are in `s3://serratus-rayan/master_table_assemblies/`
And the new master table is in: `s3://serratus-rayan/sra_master_table.csv`

Damage report:
* 72 assemblies (0.6% of the master table) are updated
* 558 new accessions have been added to the master table.

This brings the n

[2020-07-28 18:22] rchikhi commented on #230
Summary of the 72 updated assemblies:

accession | #contigs (before) | #contigs (after) | Total length (before) | Total length (after) | * = wasn't part of the rescaffolding
-|-|-|-|-|-
ERR1301563 | 7 | 7 | 3783 | 22244 |
ERR326319 | 4 | 4 | 2060 | 3185 |
SRR11907539 | 13 | 13 | 8944 | 9154 |
SRR1287029 | 6 | 6 | 2969 | 4751 |
SRR3401559 | 4 | 4 | 48898 | 56750 |
SRR5679269 | 1 | 1 | 313 | 835 | *

[2020-07-28 18:24] rchikhi commented on #230
And the complete list of the 72+558 accessions: `s3://serratus-public/assemblies/analysis/pyfasta.bug.0728.txt`

[2020-07-28 20:00] ababaian commented on #230
are any of these novel OTU?

[2020-07-28 20:02] rcedgar commented on #230
Don't know, waiting on @rchikhi to send RdRp's

[2020-07-29 17:00] rchikhi commented on #230
Ahh, for the 558 new accessions, I now realize why they weren't included in the first place: I had excluded all accessions that failed to be assembled with the latest coronaspades version. Most likely they were failed Batch runs with latest coronaspades, which didn't fail in an earlier Batch run. So in a way, it is good to not include them in the paper. I'll revert the master table so that it only

[2020-07-29 17:01] rchikhi commented on #230
Yet, to see whether we missed anything important, I sent the RdRP's to @rcedgar earlier today : https://serratus-public.s3.amazonaws.com/assemblies/analysis/rdrp.0728.new_accessions.fa

[2020-08-01 15:54] rchikhi commented on #230
Closing as the 558 missing runs will simply be re-run later.

[2020-08-01 15:54] #230 closed

[2020-08-01 15:56] rchikhi commented on #227
For reference, here is the original genome structure plot with SARS-Cov-2 Pfam HMM, and using the `--cut_ga` option of hmmer3.
![image](https://user-images.githubusercontent.com/1218301/89105312-564ab500-d420-11ea-9a8f-04893d3040db.png)

[2020-08-01 16:27] rchikhi commented on #227
Now here is the same plot but substituting `--cut_ga` with `--max -E 0.01`.

![image](https://user-images.githubusercontent.com/1218301/89105799-a3c92100-d424-11ea-9250-06566a4529e2.png)

[2020-08-01 22:03] rchikhi commented on #227
Of note, the above structure plot had a bug. When hmmer reported multiple hits for a domain, I select only the rightmost one. Now, I select the longest one.

Also, domains are plotted regardless of whether they're complete or not. (I can change that on request.)

[2020-08-01 22:05] rchikhi commented on #227
Here is a different plot made by fixing the bug, and also substituting `--cut_ga` with `--max -E 0.01`. (and lines within Epsy were reordered arbitrarily, sorry about that).

Observe that more domains (e.g. in 3' Epsy) are found, and some are more consistently found.

![image](https://user-images.githubusercontent.com/1218301/89111248-d3dbe880-d453-11ea-8d7b-b10e2ebd20a1.png)

[2020-08-01 22:28] rchikhi commented on #227
Now, here is a genome structure plot where I plot two things: the SARS-Cov-2 Pfam HMM (same plot as above) and also the Nido-HMM annotations (red domains).

Some nido hits were inside sars-cov-2 hits. I have removed any hit that is included in a longer hit (+/- 5% error).

![image](https://user-images.githubusercontent.com/1218301/89111531-03d8bb00-d457-11ea-90d5-52ba3ec1b3b8.png)

[2020-08-04 10:48] asl commented on #227
I took PsNV and scanned over the whole Pfam using conservative `--cut_ga`. It looks like there are quite significant matches to 2 models that are not in Nido HMM:
[code]

Worth to include?

[2020-08-04 17:34] ababaian commented on #227
Can you apply these models to the other Epsy group and see if we get hits?

[2020-08-04 17:35] asl commented on #227
In progress ;)

[2020-08-04 17:39] taltman commented on #227
Please search the genome against the full Pfam library using `--max -E 0.01` instead of `--cut_ga`. These are very distant proteins, and the HMMER3 heuristics will miss many of them.

[2020-08-04 17:42] asl commented on #227
Sure. The point here as these matches were found even with such strict thresholding.

[2020-08-04 17:47] taltman commented on #227
It's good to know the high-confidence hits, true. But we want to know all of the hits in this scenario.

[2020-08-04 17:49] taltman commented on #227
I'm running the search myself; we can compare notes. 👍

[2020-08-04 18:31] taltman commented on #227
Here's the list against all of Pfam at max sensitivity. Some obvious false positives.
[code]

[2020-08-04 18:34] taltman commented on #227
For reference, here's the max sensitivity hits against the Nido-associated Pfams:

[code]

[2020-08-07 07:16] taltman opened #231 "Expand the set of Nidovirales-associated Pfam HMMs for contig identification"
@asl @rcedgar

To help coronaSPAdes identify CoV-associated contigs from the full assembly graph, we need to expand our set of target HMMs.

Versions:
1. Pfam-SARS model HMMs
2. (current) All HMMs from curated Nidovirales proteins in UniProt, which is super-set of Pfam-SARS

The next version could run the full Pfam HMM library against the following sequences:
1. All curated CoV genomes in GenBank

[2020-08-07 07:23] asl commented on #231
I would probably not extend the set of HMMs so rapidly and instead go for more "iterative" approach:

1. Take all Epsy assemblies
2. We expect that there should be a missed part that contains (quite weak) match to `Spike_torovirin` model
3. Take assembly graphs, try to find the subgraph with missed match. Check whether there is some evidence for poly-A tail (e.g. high coverage tail in case of trim

[2020-08-07 07:24] asl commented on #231
Also, we're already having #227 here...

[2020-08-16 14:22] #225 closed

[2020-08-16 14:22] #219 closed

[2020-08-16 14:23] #173 closed

[2020-08-18 21:31] rchikhi commented on #214
Further checks:

After parsing `coronaspades.txt` log file, I extracted which assemblies were re-run as paired-end. There were 153 (out of 564 to rescaffold): https://serratus-public.s3.amazonaws.com/assemblies/analysis/rescaffolded.paired_end.in.log.txt

Along the way, I manually noticed that a few paired-end samples fell through the cracks and haven't been reassembled, even though they should ha

[2020-08-24 04:00] szhan commented on #168
@ababaian mentioned that no one has been tackling this, so I'mma make an attempt if you guys don't mind!

[2020-12-09 20:49] ababaian opened #237 "Migrate assembly data to lovelywater"
We need to migrate all the assembly and annotation data generated as part of Serratus to our data-lake in a structured way so as to allow for programmatic access. This is a proposed folder hierarchy to discuss wherewe have `$SRA` as the accession-variable

Similar to the rest of the archive, I propose 'flat' folders broken up by major category and every file contains a `$SRA` prefex. So no `contig

[2020-12-09 20:52] #8 closed

[2020-12-09 20:52] #10 closed

[2020-12-09 20:53] #24 closed

[2020-12-09 20:53] #27 closed

[2020-12-09 20:53] #29 closed

[2020-12-09 20:54] #30 closed

[2020-12-09 20:54] #130 closed

[2020-12-09 20:55] #91 closed

[2020-12-09 20:55] #99 closed

[2020-12-09 20:55] #101 closed

[2020-12-09 20:55] #77 closed

[2020-12-09 20:56] #152 closed

[2020-12-09 20:56] #158 closed

[2020-12-09 20:58] #166 closed

[2020-12-09 21:06] #167 closed

[2020-12-09 21:06] #170 closed

[2020-12-09 21:07] #177 closed

[2020-12-09 21:07] #185 closed

[2020-12-09 21:08] #192 closed

[2020-12-09 21:09] #193 closed

[2020-12-09 21:09] #195 closed

[2020-12-09 21:10] #197 closed

[2020-12-09 21:10] #202 closed

[2020-12-09 21:11] #210 closed

[2020-12-09 21:11] #215 closed

[2020-12-09 21:12] ababaian commented on #216
Is this resolved? I believe so?

[2020-12-09 21:12] #217 closed

[2020-12-09 21:12] #222 closed

[2020-12-09 21:13] #226 closed

[2020-12-09 21:13] #228 closed

[2020-12-09 21:16] ababaian commented on #106
This issue encompasses a set of submission issues which can be merged here to close this issue.
- [ ] #186
- [ ] #187
- [ ] #188
- [ ] #189
- [ ] #190
- [ ] #191

[2020-12-11 20:04] rchikhi opened #238 "Quenya assemblies"
All AA-guided assemblies: `s3://serratus-public/assemblies/quenya/gene_clusters/`
Those are all the coronaspades assemblies matching the input RdRp file (`quenya.protref.aa`)
Could be assembled: 452 out of 497 (list: `s3://serratus-public/assemblies/quenya/rdrps_analysis/list_assembled_quenya.txt`)

All coronaspades output files: `s3://serratus-public/assemblies/quenya/other/`

[2020-12-11 23:45] rchikhi commented on #238
RdRPs: `s3://serratus-public/assemblies/quenya/rdrps/`

extracted using [this script](https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-batch-assembly/-/blob/master/quenya/extract_rdrp.sh). In a nutshell: all `tblastn` hits of quenya contigs (gene_clusters) to `quenya.protref.aa` that have length above 500 (somewhat arbitrary, but most RdRps seem to be above this length) regardless of identity, t

[2020-12-13 20:17] rchikhi commented on #238
All the above RdRps in a single FASTA file: `s3://serratus-public/assemblies/quenya/rdrps_analysis/all_rdrps.fa`

Diamond of that above fasta file against nr: `s3://serratus-public/assemblies/quenya/rdrps_analysis/all_rdrps.fa.diamond_vs_nr.fmt6-custom`
cmdline: `\time diamond blastx --db ~/diamonddb/nr  --query all_rdrps.fa -p 48 --outfmt 6 qseqid sseqid pident length mismatch gapopen qstart qend

[2020-12-14 14:22] rchikhi commented on #238
A different analysis direction:

all gene_clusters.fa files are concatenated here: `s3://serratus-public/assemblies/quenya/rdrps_analysis/all_gene_clusters.fa`

Diamond blastx of this file against rdrp0_Q_D.fa:  `s3://serratus-public/assemblies/quenya/rdrps_analysis/all_gene_clusters.fa.diamond_vs_rdrp0_q_d.fmt6`

[2020-12-14 19:45] rchikhi opened #239 "Dicistro assemblies"
Gene_clusters file are here: `s3://serratus-public/assemblies/dicistro/gene_clusters/`
Other coronaspades files: `s3://serratus-public/assemblies/dicistro/other/`

4921 assemblies made out of 5442 accessions: `s3://serratus-public/assemblies/dicistro/analysis/list_assembled_dicistro.txt`

[2020-12-14 20:29] rchikhi commented on #239
All gene_clusters concatenated into a single file:  s3://serratus-public/assemblies/dicistro/analysis/all_gene_clusters.fa.gz

Diamond of all gene_clusters assemblies versus rdrp0_q_d: `s3://serratus-public/assemblies/dicistro/analysis/all_gene_clusters.fa.diamond_vs_rdrp0_q_d.fmt6.gz`

Diamong of all gene_clusters assemblies versus dicistro.protref.aa: `s3://serratus-public/assemblies/dicistro/an

[2020-12-15 00:24] rcedgar commented on #239
My analysis of the above data is posted on S3 here:

s3://serratus-public/rce/quenya_analysis/
s3://serratus-public/rce/dicistro_analysis/

Selection criteria are: contig length >300nt, RdRp/ORF1 id in range 50..75%.

Many assemblies have hits to multiple contigs, but many of these look like assembly problems where the same virus is assembled multiple times. Therefore, I select only the first matc

[2020-12-20 19:37] rchikhi commented on #238
Pathracer(-seq-fs) applied to `RdRP_[X].hmm` (with X=1,2,3,4,q) versus `all_gene_clusters.fa`:

s3://serratus-public/assemblies/quenya/rdrps_analysis/pathracer_seq_fs/

[2020-12-20 20:24] rchikhi commented on #238
`Pathracer` applied to `RdRP_q.hmm` and all assembly graphs:

`s3://serratus-public/assemblies/quenya/rdrps_analysis/pathracer/`

[2020-12-21 00:41] rchikhi commented on #239
`Pathracer-seq-fs` analysis ongoing.

Script to process results:

[code]

[2020-12-21 16:44] rcedgar commented on #239
what did you mean by "I don't see any of these" in (4) above?

[2020-12-21 16:57] rchikhi commented on #239
Ah sorry :) was a copy-paste of your message that I forgot to erase!

[2020-12-21 19:48] rcedgar commented on #239
My analysis uploaded to: `s3://serratus-public/rce/dicistro_analysis/`

The RdRp a.a. sequences provided by Rayan above were clustered at 90% id ("species") and classified according to %id to rdrp0 and disistro,protref.aa.

Files are:

`known_species.fa` FASTA containing sequences with >=90% match to any known RdRp.

`novel_species.fa` FASTA containing sequences with no match >=90% to any known Rd

[2020-12-22 19:29] rchikhi commented on #239
Pathracer analysis versus all assembly graphs (not the gene_clusters this time):

all files are in s3://serratus-public/assemblies/dicistro/analysis/

(1) the a.a. translations of RdRp according to PR

(PR applied to each assembly graph and the concatenation of RdRP_1+RdRP_2+RdRP_3+RdRP_4+RdRP_quenya)

`all_assembly_graphs.RdRP_1234q.seqs.fa.gz`

(2) those RdRp a.a. sequences clustered at 97%id

`

[2020-12-23 17:11] rcedgar commented on #239
Results uploaded to `s3://serratus-public/rce/dicistro_analysis/pr_graphs/`, same filenames as in my comment above. If this analysis is correct, there are 59k new species. Summary totals:
[code]

[2020-12-27 18:24] ababaian commented on #239
Monkey work checking `rce/novel_species.fa` file.

### Error Type 1: Low complexity sequences
[code]

This has no dicistro/rdrp0 match yet the HMM models hit. Traceback on the hit.

[2020-12-27 18:26] rcedgar commented on #239
Yes, I found these a few days ago; there is a discussion with Anton on the slack . These are filtered out by the diamond E-value, but we should keep this issue in mind. PR does not report an E-value, so any long enough ORF will induce an alignment.

[2020-12-27 19:16] ababaian commented on #239
### Putative Error 2: Known polio, likely misassembly

From: `rce/novel_species.fa`
[code]

Taken from [SRR1036663: WT poliovirus serially passaged through HelaS3 - sequenced using CirSeq - Acevedo et al. Nature 2013](https://www.ncbi.nlm.nih.gov/sra/SRR1036663/)

[Blastp hit](https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Get&RID=YHPMW4UR016): 70.93% from polio

[code]

That library contains a good

[2020-12-27 20:44] asl commented on #239
I've uploaded PR hits to ```s3://serratus-public/assemblies/dicistro/analysis/``` split into two groups:
  * ```all_assembly_graphs.RdRP_1234q.scaffold_seqs.fa.gz``` – all hits supported by scaffolds
  * ```all_assembly_graphs.RdRP_1234q.non_scaffold_seqs.fa.gz``` – all other hits

[2020-12-27 21:50] asl commented on #239
Further uploaded:
[code]

[2020-12-27 22:25] ababaian commented on #239
Here is the assembly graph from @asl for poliovirus: ![poliovirus_exclusion](https://user-images.githubusercontent.com/9220907/103180902-6c0abc00-4892-11eb-98eb-6e74e84f87de.png)

[2020-12-28 00:26] rcedgar commented on #239
Analysis of high-trust scaffold sequences uploaded to:

`s3://serratus-public/rce/dicistro_analysis/scaffolds/`

`15538   NovelFamily`
`9746    NovelGenus_Other`
`2252    NovelSpecies_Other`
`1713    KnownSpecies`
`877     Novel_NoMatch`
`481     NovelGenus_Dicistro`
`94      NovelSpecies_Dicistro`

[2021-01-01 02:23] victorlin opened #240 "Summary file version inconsistencies"
Examples for ERR2756788.

Original summary header line [[S3 link](https://s3.amazonaws.com/lovelywater/summary/ERR2756788.summary)]:

[code]

New summary header line [[S3 link](https://s3.amazonaws.com/lovelywater/summary2/ERR2756788.summary)]:

[code]

New psummary contents [[S3 link](https://s3.amazonaws.com/lovelywater/psummary/ERR2756788.psummary)]:

[code]

2 questions:

1. Can the new summar

[2021-01-01 04:25] ababaian commented on #240
1. I think this is just a straight bug, the first line should be starting with `SUMZER_COMMENT=`, I totally agree

2. Is something me and @rcedgar have argued about. I disliked the `sra=XXXX` on every line quite a bit originally as it looks ugly, but in practice it's incredibly pragmatic since we `grep` these files very often for spot checking and development. If someone were to work with the summ

[2021-01-01 17:40] victorlin commented on #240
Good point about the `grep`. Would it be equally beneficial to have the `sra=XXXX` for nucleotide summary files as well? That way it's more consistent.

[2021-01-01 17:41] rcedgar commented on #240
Yes, equally beneficial.

[2021-01-12 18:48] rchikhi commented on #239
I extracted the assembly scaffolds that correspond to all of Anton's centroids (`all_assembly_graphs.RdRP_1234q.scaffold_seqs.centroids.fa.gz` from https://github.com/ababaian/serratus/issues/239#issuecomment-751520032):

`all_assembly_graphs.RdRP_1234q.scaffold_seqs.centroids.scaffold_nucls.fa`
in `s3://serratus-public/assemblies/dicistro/analysis/`

generated using: https://gitlab.pasteur.fr/rch

[2021-01-16 11:58] rchikhi opened #241 "rVert assemblies:"

[2021-01-16 20:30] rchikhi commented on #241
- Added 3 co-assemblies, with various k-mer sizes suggested by Anton. The largest one, assembly length wise, is `k29,43` but you could also have a look at `k33,55,77` which is smaller but maybe has different content.

- Added `motifator` results for the two 'best' co-assemblies (those with highest k value <= 77).
Results are in
`s3://serratus-rayan/rVert-assembly/motifator-results/rnaviralspades_c

[2021-01-16 21:04] asl commented on #241
To be 100% explicit: no HMMs here were involved :)

[2021-01-20 14:07] rchikhi commented on #237
it's all staged in `s3://serratus-rayan/lovelywater/`, please have a look before transferring to lovelywater.

Name |  Size
-- | --
annotations/  | 73.8 GB
assembly/  | 169.2 MB
contigs/  | 4.0 TB

[2021-01-20 22:59] rchikhi commented on #237
TODO for me next: quenya, dicistro, satellites CS assemblies into `contigs/`

[2021-01-21 21:56] rchikhi commented on #241
Update: re-uploaded `s3://serratus-rayan/rVert-assembly/motifator-results/individual/` which, up until this post, contained the wrong files (I had mistakingly run motifator on the .pro reads and not contigs).

Now motifator has been run on the individual SRA's for unitigs (`before_rr.fasta`), contigs and scaffolds.

[2021-01-21 22:21] rchikhi commented on #241
@rcedgar asked "how many contigs give motifator hits"? To attempt to answer this, I ran:

[code]

[code]

How many SRA accessions were in rVert:

[code]

How many of them were assembled into empty unitigs:

[code]

How many non-empty contigs:

[code]

Thus 3388/18182=18.6% have a high-confidence RdRp hit

[2021-01-22 12:20] rchikhi commented on #241
Out of the 18k rVert non-empty individual assemblies, 501 of them have different filesizes between `before_rr.fasta` and `contigs.fasta`. the difference is typically not big (~100 bp).

An extreme example: SRR3999033 (12.2kbp vs 8.8kbp).
Other smaller ones: DRR032780, SRR3289253, SRR5085421.  Assemblies are in `s3://serratus-rayan/rVert-assembly/individual/`

[2021-01-22 21:54] taltman commented on #237
The README.md in the top-level of `lovelywater` is out-of-sync with the bucket directory structure.

[2021-01-22 21:57] ababaian commented on #237
Most recent version is always on the [Data Access Page](https://github.com/ababaian/serratus/wiki/Access-Data-Release)

[2021-01-22 22:07] taltman commented on #237
That page is also inconsistent. In Naming Conventions, it uses as an example, `s3://lovelywater/contig/SRA123456.fa`. In the Folder Organization section, there is no such folder `contig`, and there is no such directory in the bucket (as far as I can see).

[2021-01-22 22:19] ababaian commented on #237
The data for assemblies has not been migrating on it, once that's done it closes this issue.

[2021-01-23 19:27] rchikhi opened #242 "all `.pro` assemblies"
This thread will be for updates of the `.pro` assemblies.

number of `.pro.gz` files analyzed: **5,726,283**

(all of s3://serratus-public/out/21* except *r1p*)

number of `.fasta.gz` obtained after converting `.pro` to FASTA and discarding empty files: 3,379,127

[2021-01-24 11:17] rchikhi commented on #242
Assemblies done (measured by `before_rr.fasta` existing):

**3,378,813**

(no idea why in ~300 cases, no `before_rr.fasta` was created)

Number of empty assemblies:

**2,890,521**

Thus, non-empty assemblies (i.e. both `before_rr.fasta` and `contigs.fasta` exist and are non-empty):

**488,292** (14.4%)

For reference, 19% of the rVert assemblies were non-empty.

[2021-01-24 13:22] asl commented on #242
@rchikhi

Likely the assembly failed. Can you collect few logs out there?

[2021-01-24 13:48] rchikhi commented on #242
Can do, let me just finish with the bulk of the results first.

Number of non-empty `trim.LHF.fa` motifator files:

**168,460**

[2021-01-24 15:13] rcedgar commented on #242
Where are the trim.LHF.fa's? I'd like to download, thanks!

[2021-01-24 17:20] rcedgar commented on #242
Hi @rchikhi  Minor feature request/suggestion for future runs: can you combine all micro-assemblies into one FASTA file? This file should not be too big, only around 1 Gb or so. This would be easier to process on Linux than millions of small FASTAs or millions of directories, each with a small/empty FASTA. This would require embedding the SRA identifier in the sequence label a.k.a. FASTA defline,

[2021-01-24 18:59] rchikhi commented on #242
## Data availability

Individual assemblies (excluding empty files):

`s3://serratus-rayan/pro-assembly/individual/`

Individual motifator analyses of the above assemblies:

`s3://serratus-rayan/pro-assembly/individual_motifator/`

For download convenience, the above folder (motifator analyses) is packaged as a single file:

`s3://serratus-rayan/pro-assembly/individual_motifator.tar.gz`

All these

[2021-01-24 19:08] rchikhi commented on #242
In addition, for @rcedgar, here are all the LHF for unitigs & contigs concatenated into a single file:

s3://serratus-rayan/pro-assembly/all.before_rr.LHF.fasta
s3://serratus-rayan/pro-assembly/all.contigs.LHF.fasta

[2021-01-24 19:33] rchikhi commented on #242
And concatenated unitigs/contigs:

s3://serratus-rayan/pro-assembly/all.before_rr.fasta
s3://serratus-rayan/pro-assembly/all.contigs.fasta

[2021-01-24 23:05] rchikhi commented on #242
For reference, these assemblies were performed using that script:

https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-rdrp-analysis/-/blob/master/assemble_individually.sh

and motifator was run using that script:

https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-rdrp-analysis/-/blob/master/motifator_analyses/run_indiv.sh

[2021-01-25 18:57] rchikhi commented on #242
here's an exhaustive list of "reads" that are above 600 bp among the single-end libraries:

https://serratus-rayan.s3.amazonaws.com/rdrp-pan-assembly/prelim/all_se.above_600bp.txt

from that list I extracted the set of 719 accessions that are deemed suspicious

https://serratus-rayan.s3.amazonaws.com/rdrp-pan-assembly/prelim/nonILMN.txt

[2021-01-26 06:58] bioscienceresearch opened #243 "Please run SRA SRR11085797"
NCBI SRA SRR11085797 contains sequence reads for RaTG13, the closest ancestor to SARS-CoV-2.

https://trace.ncbi.nlm.nih.gov/Traces/sra/?run=SRR11085797

As such it is an impotant CoV to study

[2021-01-26 07:02] bioscienceresearch opened #244 "Please Run SRA SRR11806578"
This SRA contains amplicons for RaTG13, an important CoV for SARS-CoV-2 research

https://trace.ncbi.nlm.nih.gov/Traces/sra/?run=SRR11806578

[2021-01-26 07:04] ababaian commented on #243
Hello, that sample has already been run: https://serratus.io/explorer?run=SRR11085797#result

You can visualize the data directly in [JBrowse](https://serratus.io/jbrowse?bam=SRR11085797&loc=MN996532.1) built into the website. Looks like it has RaTG13 as the online [meta-data](https://www.ncbi.nlm.nih.gov/sra/?term=SRX7724752) suggests.

[2021-01-26 07:05] bioscienceresearch opened #245 "Please run SRR12432009"
Another related Bat-CoV to SARS-CoV-2 that is important for research

https://trace.ncbi.nlm.nih.gov/Traces/sra/?run=SRR12432009

[2021-01-26 07:09] ababaian commented on #243
If you have a list of samples to process please keep it to one issue, compile the complete list and make sure it has not been run already by checking the website. Please do not open an issue per sample.

[2021-01-26 07:09] #244 closed

[2021-01-26 07:09] #245 closed

[2021-01-26 07:37] bioscienceresearch commented on #243
Thanks, SRR11085797 must have been user error. As far as I can tell following hav not been run:

SRR12432009
SRR11806578

[2021-01-26 07:42] ababaian commented on #243
Yep, I can slate those for processing but it might take a while before it trickles to the website. If you have an immediate use case I'll post the links to the raw data here once it's ready.

[2021-01-26 07:57] #243 closed

[2021-02-04 19:57] rchikhi commented on #242
### Coverage analysis of the motifator hits within the .pro assemblies

s3://serratus-rayan/pro-assembly/depth_summary.csv

schema:
`sra, header, contig_type, p_cov1, p_cov2, p_cov3-4, p_cov5-8, p_cov9plus`

where p_covX is the percentage of bases of the region where coverage is >= X

[2021-02-06 22:57] rchikhi opened #246 "assemblies of 1k random SRAs from novel_id90.fa"
List of the **1,000** random SRAs accessions:
`s3://serratus-rayan/1krandom-assembly/1000_random_sra.txt`
(obtained through: `cat novel_id90.fa | grep ">" |  cut -c 2-  |sort |uniq | shuf -n 1000`)

**952** SPAdes log files were produced (meaning SPAdes at least started running the assembly). I could investigate why the remaining 48 failed if you'd like (but it doesn't seem so important). For 70 o

[2021-02-07 11:21] rchikhi opened #247 "all new nido/cov assemblies"
List of the 990 accessions where there's possibly a new CoV/nido RdRp according to `sra_species_table.tsv`:
`s3://serratus-rayan/pro_new_cov_nido-assembly/all_new_cov_nido.sra`

*900* could be assembled, here are the:
* `scaffolds.fasta` (900) : `s3://serratus-rayan/pro_new_cov_nido-assembly/all_new_cov_nido.scaffolds.txt`
* `gene_clusters.fasta` (900) : `s3://serratus-rayan/pro_new_cov_nido-assem

[2021-02-07 21:05] rchikhi commented on #246
All contigs having a motifator hit:
`s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta`

[2021-02-07 21:07] rchikhi commented on #247
all contigs having a motifator hit:
`s3://serratus-rayan/pro_new_cov_nido-assembly/all_new_cov_nido.scaffolds_motifator.whole_contigs_hits.fasta`

[2021-02-08 00:39] rchikhi commented on #247
hmmsearch results versus Pfam-A:

`s3://serratus-rayan/pro_new_cov_nido-assembly/all_new_cov_nido.scaffolds_motifator.whole_contigs_hits.fasta.transeq.faa.*`
(ran with `hmmsearch -A [.sto] --tblout [.tbl] --domtblout [.domtbl]-o [.hmmsearch_stdout] Pfam-A.hmm [contigs.fa]`)

[2021-02-08 01:55] rchikhi commented on #246
hmmsearch results versus Pfam-A:

`s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.transeq.faa.*`
(ran with hmmsearch -A [.sto] --tblout [.tbl] --domtblout [.domtbl] -o [.hmmsearch_stdout] Pfam-A.hmm [contigs.fa])

[2021-02-08 18:39] rchikhi commented on #246
CheckV on those contigs:
* `completeness.tsv` : `s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.checkv.completeness.tsv`
* `quality_summary.tsv`: `s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.checkv.quality_summary.tsv`
(other output files available on request:  `complete_genomes.tsv contamina

[2021-02-09 11:39] rchikhi commented on #246
Virsorter2 results on those contigs:

[code]

* `s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.virsorter.final-viral-score.tsv`
* `s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.virsorter.final-viral-boundary.tsv`

[2021-02-22 05:12] ababaian opened #248 "TODO: Case study for CoV in environmental samples"
[Explorer Link](https://serratus.io/explorer?run=SRR5121783#result)

`Name: Pipistrellus bat coronavirus HKU5 isolate BY140535, complete genome` sequence identified from a Corn sequencing run [ SRR5121783](https://www.ncbi.nlm.nih.gov/sra/?term=SRR5121783).

Run Info: `SRX2436954: High phosphate, lateral root, biol. Repl. 4`
[code]

[2021-02-27 21:10] rchikhi commented on #237
Satellites assemblies have been migrated, to `s3://serratus-rayan/lovelywater/assembly/contigs` i.e. same location as other CoV assembly data.
For some reason, I can't find satellites' `scaffolds.fasta` files, only the `gene_clusters.fasta` apresent. I tend to think I might have never copied `scaffolds.fasta` (likely due to a bug) to S3 and it's likely that we were only interested in  ̀gene_cluste

[2021-02-27 21:35] ababaian commented on #237
c'est la vie. Is this the complete collection of assemblies then?

[2021-02-27 21:37] rchikhi commented on #237
nope, i'm in the process of moving dicistro/quenya assemblies too, will let you know when it's over

[2021-02-28 10:53] rchikhi commented on #237
done! dicistro, quenya, satellites assemblies are copied.

total number of accessions assembled in `s3://serratus-rayan/lovelywater/assembly/contigs`: **56,071**
total size of ̀`s3://serratus-rayan/lovelywater/`: **4.9 TB**
scaffolds from CoV assemblies (MFC-compressed): **0.9 TB**
scaffolds from other assemblies (gzip-compressed): **0.2 TB**
assembly graphs (gzip-compressed): **1.6 TB**
(These co

[2021-02-28 11:00] rchikhi commented on #237
Also there is the 1k subset of `.pro` assemblies that hasn't been moved yet, wanna include it?

[2021-02-28 13:51] rchikhi commented on #216
yep, @taltman's  `canonicalize_contigs.sh` script was used to make the genome organization figure and it worked well!

[2021-02-28 13:51] #216 closed

[2021-02-28 18:07] ababaian commented on #237
yes

[2021-02-28 19:53] rchikhi commented on #237
1ksubset: migration done

[2021-03-01 08:35] rchikhi commented on #237
after some Slack discussions:
* darth data inside `contigs/` has been deleted as it's mainly redundant with the one aleady in `̀annotation/` except for huge BAM files.
* serratax/serraplace stuff inside `contigs/` has been moved to `annotation/`

so I think we're done

[2021-03-01 08:47] rchikhi commented on #237
hold on, i'll also move checkV analysis from  `contigs/ ` to `annotation/`

[2021-03-02 20:00] rchikhi commented on #237
done! Here's the final content of
[code]

## `assembly/cov`:

These are the 11,120 coronavirus assemblies made with coronaSPAdes, where contigs have been filtered either using CheckV or using coronaSPAdes' bgc-statistics. See Serratus' manuscript for more details.

## `assembly/contigs`:

[code]

All of these are [assembler] outputs, where [assembler] is either coronaSPAdes or rnaviralSPAdes.
Depe

[2021-03-02 20:02] ababaian commented on #237
I'll begin data migration shortly!

[2021-03-04 22:16] ababaian commented on #237
Take a look at `s3://lovelywater/assembly/` and let me know if that looks alright.

Also updated the
- [Data access wiki](https://github.com/ababaian/serratus/wiki/Access-Data-Release)
- [Assembly organization wiki](https://github.com/ababaian/serratus/wiki/Assembly-Data)

If that looks good then close this baby!

[2021-03-10 01:57] taltman commented on #237
What's the status on this? Should I be pulling data from `s3://serratus-rayan/lovelywater/assembly/cov/` or `s3://lovelywater/assembly/cov/`?

[2021-03-10 02:17] ababaian commented on #237
either is fine they are identical. Migration is now complete. I think we're good to close this @rchikhi

[2021-03-10 11:21] rchikhi commented on #237
Same number of files and size as my folder, looks good

[code]

[2021-03-13 12:47] victorlin opened #250 "Update contributors list"
_Originally posted by @ababaian in https://github.com/serratus-bio/serratus.io/issues/117#issuecomment-797228813_

TODO:
1. update [CONTRIBUTORS.md](https://github.com/ababaian/serratus/blob/master/CONTRIBUTORS.md)
2. update [teamData.json](https://github.com/serratus-bio/serratus.io/blob/main/src/data/teamData.json)

[2021-03-14 04:51] ababaian commented on #250
updated both :+1:

[2021-03-16 19:17] rchikhi opened #251 "migrate RdRP data to lovelywater"
it's staged in `s3://serratus-rayan/lovelywater/man/micro.assemblies.fa`
I basically just copied `s3://serratus-rayan/pro-assembly/all.contigs.fasta`
format is:
[code]

noting also that all motifator hits are here in case we want to migrate them:
`s3://serratus-rayan/pro-assembly/all.contigs.LHF.fasta`

[2021-03-16 19:53] rcedgar commented on #251
IMO we should also post virus macro contigs from the 1k subset, at a minimum union of Virstorter2+ and diamond rdrp1+. This set of contigs included 126,436(!) unique palmprints, most of which are embedded in substantially longer contigs. This was lucky but predictable after the fact because most pp's occur in the big viromes, so a randomly chosen 1k pp's captures them.

[2021-03-16 21:42] ababaian commented on #251
macro contigs should already be posted as part of the assembly upload

[2021-03-16 22:04] rcedgar commented on #251
As I read the documentation ("Assembly-level assembly", as opposed to what exactly non-assembly level non-assembly?), it says these are the CoV+ targets, so if this is true then I think documentation needs to be updated to explain the 1k subset and which SRAs are in that subset.

[2021-03-16 22:11] ababaian commented on #251
:+1: this is my evening

[2021-03-25 06:32] ababaian commented on #251
Done!

[2021-03-25 06:32] #251 closed

[2021-03-25 06:32] #250 closed

[2021-03-27 21:20] rchikhi opened #252 "all macro/micro assemblies having a RdRP (HMM or palm) hit"
This issues describes the procedure I did to search all of our contigs against RdRP.
(Slack thread: https://hackseq-rna.slack.com/archives/C012H9SDQCA/p1615948152031200)

Input: FASTA files of contigs, either assembled using micro (all SRA `.pro` DIAMOND hits assembled with `rnaviralspades`) or macro (all from `s3://lovelywater/assembly/contigs/`, i.e. all CoV + dicistro + quenya + satellite + 1k

[2021-03-27 21:29] rchikhi commented on #252
Some stats:

* number of macro RdRP+ contigs: 6,822,262
total size: 5,828,043,099 bp
longest macro RdRP+ contig: 1,086,412 bp
N50: 1,870 bp

* number of micro RdRP+ contigs: 4,631,850
total size : 21,58,973,751
longest micro RdRP+ contig: 16,630 bp
N50 : 622 bp

[2021-06-22 19:46] rchikhi commented on #246
added the FASTA files of the viruses found by VirSorter2:
* s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.virsorter.final-viral-combined.fa

[2021-06-22 20:23] rchikhi commented on #246
Test run of using Palmscan on the above virsorter2 sequences + aligning to palmdb using https://github.com/rcedgar/palmdb/blob/main/2021-03-14/serratus.fa.gz as palmdb.fa.

results:  s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.virsorter_palmdb.b6

command lines:

https://gitlab.pasteur.fr/rchikhi_pasteur/serratus-rdrp-analysis/-/blob/master/10

[2021-06-22 20:46] rchikhi commented on #246
Real run using uniques.fa.gz instead of serratus.fa.gz, also decreased usearch_global's `-id` to 0.7:

results:
*

[2021-06-25 21:00] rchikhi commented on #237
so, this issue is closed yet I noticed today that we never deleted anything off the original location `s3://serratus-public/assemblies` (thought the staged location `s3://serratus-rayan/lovelywater` got correctly cleared). The original location still contains all the migrated data + possibly some other less useful and non-migrated data, like info on partially failed assemblies.
@ababaian, a few op

[2021-06-26 14:15] rchikhi commented on #246
Diamond of virsorter2 sequences to nr.

I took the "full" and "less than 2 genes" FASTA contigs produced by virsorter2. I discarded the "partial" ones as it's a tiny category (20 sequences out of 161536, wouldn't be significant to analyze, but let me know if you'd still like to have results for them).

diamond cmdline: `diamond blastx -p 48 -q final-viral-combined.full.fa  --db ~/diamonddb/nr.gz -

[2021-06-29 12:44] ababaian commented on #237
One consideration is `serratus-public` currently has version control, so you have to do a 2-pass deletion (delete file, and delete history) to remove data. We _do_ need to do this this but I've been delaying until the paper is "done" so we don't whoopsy and lose some data we need. I'll re-open and let's go with (2) once the paper is done is my take. I'll reopen the issue.

[2021-06-30 20:54] rchikhi commented on #246
An analysis of the above raw results:

**59488** contigs annotated as full viruses:
* **2070** are highly similar to a known nr entry
* **57253** are novel

**93728** contigs annotated as having less than 2 genes (lt2genes):
*  **1107** are highly similar to a known nr entry
*  **92010** are novel

What I mean by 'nr entry' is an ENA accession, e.g. `QJI52014.1` (didn't check if the accession was

[2021-06-30 21:40] rchikhi commented on #246
And finally, the aggregation of the two previous palmdb+diamond analyses:
(https://github.com/ababaian/serratus/issues/246#issuecomment-866307688 and https://github.com/ababaian/serratus/issues/246#issuecomment-871720857)

Aggregated table for both full and lt2genes contigs: `s3://serratus-rayan/1krandom-assembly/1000_random_sra.scaffolds_motifator.whole_contigs_hits.fasta.virsorter.final-viral-co

[2021-07-04 20:12] rchikhi commented on #246
Comparison between the above TSV file and the one @rcedgar produced in https://github.com/ababaian/serratus/wiki/Viral-contigs-containing-RdRP for a different set of contigs:

* There are **576,350** macro contigs in Robert's `rdrp_contigs.tsv`
* There are **149,263** contigs in the 1000_random_sra dataset (the one from this post above: https://github.com/ababaian/serratus/issues/246#issuecomment-

[2021-07-29 10:28] kobi86 commented on #164
Hi @ababaian, how can I help with this issue? :)

[2021-07-29 13:20] ababaian commented on #164
Hey @kobi86, sounds great!

Right now `Serratus` is still is quite challenging to get up and running (related is #22). The first step is to boot-up a Serratus cluster on another AWS account.

I have a [tutorial](https://github.com/ababaian/serratus/wiki/Running-Serratus) written up on this, and it would be great to get feedback on this and make sure that there is enough information there to get it

[2021-12-07 19:17] taltman opened #254 "Migrate improved CoV assemblies to lovelywater"
For the manuscript, we improved the assembly of all CoV/nido from novel taxa. But those improved assemblies have not made it over to `lovelywater`.

Example using AmexNV:
`aws s3 cp s3://lovelywater/assembly/cov/SRR6788790.cov.fa .`

This only has the "R contig".

Anton pointed out that the improved genomes are here:
`https://serratus-public.s3.amazonaws.com/ak/epsy/epsy.tar.bz2`

If you look in t

[2021-12-08 18:48] taltman opened #255 "Deal with suppressed phage runs"
Here are the accessions in question:
`SRR10854512
SRR12613006
SRR12613007
SRR12613009
SRR12613049
SRR12613053
SRR12613091
SRR12613196
SRR12613526
SRR12666045
SRR12689551
SRR12689835
SRR13207416
SRR13208129
SRR13208130
SRR13208236
SRR13208416
SRR13208437
SRR13208515
SRR7690231`

[2021-12-08 20:05] ababaian commented on #255
This is unrelated to the current submission/manuscript sets and part of ongoing work. We dropped these with no skin off our back.

[2021-12-08 20:05] #255 closed

[2022-02-09 15:02] eul2021 opened #256 "Brief SRA metadata for a subset of SRR ids"
Hello,
I would like to get a brief SRA description of the sample/origin that's shown below the SRR id in the Serratus explorer. I've selected a list of ~3000 SRR with occurrences of a certain viral family and then would like to download that list of SRR with the short description metadata. Can you please let me know how I can do it via the app or programmatically? Thank you very much!

[2022-02-09 23:50] ababaian commented on #256
Heya @eul2021,
Yeah maybe the simplest option is to try the [SRA website](https://www.ncbi.nlm.nih.gov/sra/) and slap an `OR` between each SRR accession code as your search query. Like this: https://www.ncbi.nlm.nih.gov/sra/?term=ERR3569471++OR+ERR3569472

If that returns the query you want click on "Send To: --> File --> SraRunInfo" and you get a simple table of the results.

You can try the [`SR

[2022-02-09 23:56] ababaian commented on #256
Oh and this might be a great time for me to plug [`palmID`](https://serratus.io/palmid), this is an experimental RdRP interface for the Serratus data which pulls SRA meta-data automatically. From the RdRP reports here you can download the meta-data directly as a CSV. It doesn't work for a whole family though, you input a single sequence and it will pull down all matches down to ~40% identity in th

[2022-02-14 19:34] MjelleLab opened #257 "Download fasta file"
Hi,
I wonder where I can access the fasta files of the genomes for the RNA-viruses within Serratus.

[2022-02-14 19:47] rcedgar commented on #257
Actually we (meaning @rchikhi IIRC) did complete assemblies of hundreds(?) of metagenome libraries generating many contigs with full and partial genomes. Hopefully the SQL API gives a way to identify the RrRP+ contigs within those assemblies, this would be @ababaian's department. Looks like a gap in the database and/or wiki documentation that we don't explain how to find the RNA virus contigs.

[2022-02-14 20:38] rchikhi commented on #257
For the assemblies we generated, we only specifically looked at extracting CoV's at the time. For other viral families, a reasonable strategy would be to browser the serratus database to identify which SRA accessions have RdRP+ contigs, intersect that list of accession with the list of assemblies we generated, and then run a generic viral identification tool (e.g Virsorter) on those assemblies

[2022-02-14 21:43] rcedgar commented on #257
@rchikhi I don't think that's correct,  I'm pretty we did a macro-micro comparison where we made large batch of macro-assemblies (complete SRAs) to validate micro-assemblies (diamond hits only) as part of our QC for our protein search methodology. If you don't remember this I can try to dig up backups with my notes, unfortunately they're on an drive that recently got corrupted.

[2022-02-14 21:49] rcedgar commented on #257
We used a couple of methods including Virsorter to classify palmprint+ contigs as viral / other as part of the same exercise. See Ext Data Fig 2(h) in the published paper: "**(h) Kingdom predicted by Virsorter2 for RdRP+ contigs (by Palmscan) obtained
by full assembly of 880 randomly chosen RdRP+ runs**". These 880 runs were the successful assemblies from a list of 1k attempted.

[2022-02-14 21:51] rcedgar commented on #257
We should post+document the RdRP+ contigs from those 880 complete assemblies if this is not already done; for sure something should be added to the Wiki page mentioned earlier in this issue thread.

[2022-02-14 22:57] ababaian commented on #257
Short answer @MjelleLab, we provide an index of RdRP sequence/barcodes to identify where in the SRA a particular RNA virus (or those related) can be found. If this index is sufficient for you, I would suggest either try [`palmID`](www.serratus.io/palmid) with an input RdRP sequence to find which SRA libraries contain potential matches, or search through the micro-assembly data directly [Explained

[2022-02-14 23:11] ababaian commented on #257
Maybe an addendum @MjelleLab, could you tell us what YOU would find most useful? We have organized the data internally within the project, but if we better understand use-cases from users we can offer better solutions in how we serve the available data.

[2022-02-15 14:43] rchikhi commented on #257
Regarding https://github.com/ababaian/serratus/issues/257#issuecomment-1039597369: @rcedgar you're right, I had overlooked that experiment! It's "only" a subset of 880 assemblies, but indeed there are some potentially novel viral contigs in there.

[2022-02-15 15:15] rcedgar commented on #257
Some of these had hundreds of viruses, I believe found something like 10-20% of novel species in the 880 assemblies. Novel RdRPs are strongly concentrated in large metagenomes/viromes, and these were preferentially chosen by the random selection of the 1k subset.

[2022-02-18 17:14] eul2021 opened #258 "Phylogenetic and taxonomic analyses for any viral contigs"
Hello,

I was wondering if currently phylogenetic & taxonomic analyses are only for  RdRP or could be used for nt of any viral contigs?

Thank you.

[2022-02-18 17:18] rcedgar commented on #258
For Coronavirus assemblies we attempted to predict taxonomy for nt contigs where we could find CDS, for the translated search for RdRP the analysis is based on palmprints only. If you can you explain a bit more what you are trying to do, we'll be glad to help if we can.

[2022-02-18 17:22] eul2021 commented on #258
Robert, thank you for the quick response. Let's say I have a nt contig (either whole genome, or one/two protein) of a putatively novel non coronavirus and I want to place it to the overall viral phylogenetic tree, or to a specific branch X. Is there currently support for that?

[2022-02-18 17:26] rcedgar commented on #258
Our approach for this is to run palmscan (https://github.com/rcedgar/palmscan) to find a palmprint (barcode sequence in RdRP). If one is found, then we align to OTUs in palmdb (https://github.com/rcedgar/palmdb, otu_centroids.fa) using usearch_global at 90% identity. This does not place in a tree per se. If the palprint is within a known family, then you can make a palmprint MSA using muscle v5 an

[2022-02-18 17:46] rcedgar commented on #258
So I think the answer to the main question is that we use RdRP only for classification because it's the only gene shared across the large majority of RNA viruses. Other genes are informative of course, but only within smaller groups. Our goal with Serratus was to develop a classification scheme that was transparent. simple and robust across all RNA viruses; we feel that palmprints are a good solut

[2022-02-18 18:09] #258 closed

[2022-02-25 03:59] NickShanyt opened #259 "Hello! Many parts of this tutorial “Running Serratus”are confusing to me. Could you be more specific?"
Hello, seraatus is a great tool and I would like to run it on my AWS server. Maybe I don't know enough about it, I think this document is not clear enough and many parts are very confusing. For example, are there folders and files that I need to create manually?
If possible, could you update the documentation with full deployment details and command lines?
Thank you!

[2022-02-25 04:45] rcedgar commented on #259
Serratus is a large and complex tool and the documentation is a work in progress. If you could explain more about what you're trying to do we'll be glad to help with a configuration that meets your goals.

[2022-02-25 05:04] NickShanyt commented on #259
Many thanks.
We have some SRA databases that we would like to search based on RdRP and using your pipeline, hoping to discover a new RNA virus.

[2022-02-25 09:29] ababaian commented on #259
Hi Nick, sure I'm happy to help. The documentation could use a little bit of updating.

Let's start at the beginning of the [Running Serratus](https://github.com/ababaian/serratus/wiki/Running-Serratus) documentation, please follow these instructions until you reach an instruction which is unclear or not working and we can fix and update the documentation as we go through it.

[2022-03-02 23:29] ababaian commented on #259
hey @NickShanyt, do you have any feedback for improving the documentation?

[2022-03-07 10:25] rchikhi opened #260 "all serratus assemblies (60k accessions)"
This describes the gathering of all the assemblies generated by Serratus into a single file.

TLDR: It's available at `s3://serratus-public/assemblies/all_serratus_assemblies_05032022.fa.lz4`

* Number of accessions assembled: 59256
* 2.3 Terabytes file
* Compressed using lz4. (To decompress to stdout: `lz4cat [file]`)
* FASTA header format: `>[SRA identifier] [scaffold identifier]` e.g. `>DRR0011

[2022-03-07 16:26] rcedgar commented on #260
Hi @rchikhi wow this is great! @ababaian flagging that availability & locations of assemblies should be prominent in the documentation & from web home page once the migration to lovelywater is completed -- this is a valuable resource a la TSA but Serratus users are generally not aware of this.

[2022-03-08 17:24] rchikhi commented on #260
Some stats:

[code]

[2022-03-08 17:27] rcedgar commented on #260
[code]

but should be bases not lines, what is a line anyway ;)

[2022-03-09 09:40] rchikhi commented on #260
hehe agreed that the lines metric is a bit arbitrary (-- only useful if you're tracking progress of parsing this file line by line).
Here's a more useful one, number of bases: 5.9 trillion

[code]

[2022-03-09 20:35] rchikhi commented on #260
The newly uploaded file `s3://serratus-public/assemblies/all_serratus_assemblies_05032022.k_values.txt` contains the k values of each assembly. Specifically, the last k value used by SPAdes.
(For only 6 of the accessions, the k value couldn't be retrieved and is reported as "-1".)

[2022-03-10 10:23] rchikhi commented on #260
and this file contains all the circular contigs within the assemblies: `s3://serratus-public/assemblies/all_serratus_assemblies_05032022.only_circles.fasta`

[2022-04-02 04:22] pingleig commented on #259
I went through the wiki and got it running (btw: I am software engineer from Amazon volunteer with UBC CIC, so I only know things are running but have no knowledge related to genome)

## AWS account

- AWS module can use newer version, example [commit](https://github.com/pingleig/serratus/commit/b6a8950eed9d8ca2afcc37901dc4041b753380be)
 - Some organization use SSO with session token (e.g. AWS its

[2022-04-06 12:09] ababaian commented on #259
:D :D :D This is fantastic @pingleig!!

This is a great layout of how to tackle this, issue by issue. If you get a chance can you join the slack: https://join.slack.com/t/hackseq-rna/shared_invite/zt-ewlzh9qf-SiNkxvvTJflcutFN0h5jIQ .

I think if we can distill this down and really clean-up the command-line interface and documentation.

[2022-04-26 11:50] aninditaces opened #261 "Novel viruses identified by Serratus"
Hello!
Is there a database containing the sequences of the novel viruses identified by serratus?
Thanks very much.

[2022-04-26 15:13] rcedgar commented on #261
Palmprints are here: [https://github.com/rcedgar/palmdb](https://github.com/rcedgar/palmdb), you can search a palmprint to find SRA accessions here:[ https://serratus.io/palmid]( https://serratus.io/palmid), in some cases complete contigs may be found in our assemblies (there is currently no index into the assemblies so some manual checking is needed for this last step).

[2022-05-01 17:54] centaria commented on #12
Hi Artem and Serratus team, I want to run some customization on Serratus but have encountered SRA download issue. I see that you guys discussed using fasterqdump, parallelization, aws s3 cp, but eventually went with fastqdump. Would you recommend using fasterqdump over aws s3 cp? I need to get about 10k SRA and wanted to parallelize to speed up time. Thank you.

[2022-05-01 17:55] centaria opened #262 "Speed up SRA download: aws s3 cp or sratoolkit?"
This is now much much slower then S3 and will disregard.

_Originally posted by @ababaian in https://github.com/ababaian/serratus/issues/12#issuecomment-616959147_

Hi Artem and Serratus team, I want to run some customization on Serratus but have encountered SRA download issue. I see that you guys discussed using fasterqdump, parallelization, aws s3 cp, but eventually went with fastqdump. Would yo

[2022-05-01 20:10] ababaian commented on #262
Hey @centaria , I would go with `aws s3 cp` if you can get bucket locations for the `.sra` files for all 10k ahead of time. This was originally implemented before the whole SRA-bucket location thing was sorted out, things would move around much more often back in 2020 so we went for `prefetch` then `fastqdump`.

My recommendation is NOT to use `fasterqdump` or any sort of parallelization, while th

[2022-05-01 21:11] centaria commented on #262
Hi Artem, thanks so much for a rapid response! After the download I’m planning to run megahit/spades. All in cloud, not on prem. If I go with aws s3 cp where to look for SRAs fastq locations in a systematic way? If I do prefatch and then fastqdump, any suggestions on memory optimizations? I noticed many crashes (I think) on larger size fastqs. Thank you very much for your help!:)

[2022-05-01 21:17] asl commented on #262
If you'd run SPAdes, then there is an experimental version that could consume SRA files directly w/o conversion

[2022-05-01 22:57] ababaian commented on #262
What's the documentation on SPAdes direct on SRA files Anton? Is there base-quality trimming?

[2022-05-01 23:00] ababaian commented on #262
@centaria Memory should not be an issue, you may run into disk-space limits, what we did was to randomize the input list of SRA files such that you get an averaged workload on disk (also use like 100-200GB of disk space per node). When decompressing, it helps to write directly to an S3 bucket (or at least that's what we do), which avoids writes while the disk is reading. This also avoids having to

[2022-05-01 23:39] centaria commented on #262
Thanks you, Artem, this is very helpful! I’ll try  what you suggested. Thank you:)

[2022-05-02 07:59] asl commented on #262
So far there is no documentation :) SRA files are assumed to "just" work. There is no base-quality trimming, though it could be implemented (it will slow the things down as currently we're ignoring the qualities alltogether)

[2022-05-03 15:59] aninditaces commented on #261
Thanks very much!

[2022-05-03 15:59] #261 closed

[2022-06-14 14:22] #262 closed

[2022-06-14 14:26] centaria opened #263 "Is Serratus running on most recent SRAs?"
Hello Serratus Team, I was wondering if Serratus displays search only from SRAs obtained at the time of the Serratus paper publication or if you guys are running it on newly emerging SRAs since your publication and updating the results? Thank you very much!

[2022-06-14 17:57] ababaian commented on #263
Hey @centaria,

We have everything up until Jan 1st 2021 analyzed, the reports and data are online at `s3://lovelywater/` for those runs, we're just a bit slow with propagating the data downstream into  the website and SQL server :'( . If you know the datasets you're looking for you can download them directly by accession.

[2022-06-14 18:21] centaria commented on #263
Thank you very much, Artem, this is very helpful. Are you planning to run serratus on the new samples and deposit results?

[2022-06-15 06:30] ababaian commented on #263
Yep, it will be run in batches moving forward. I'm hoping to get some of the downstream processing cleaned up into a pipeline to make the update process smoother. Only so many hours in a day though '^_^

[2022-06-17 22:35] centaria commented on #263
Thank you very much, Artem. Please keep us posted. What a great work you and the team are doing for the humanity. I’m a big fan. Thank you!

[2022-06-17 22:35] #263 closed

[2022-11-09 13:55] Anto007 commented on #260
Looks like a super-cool resource and many thanks for your pains in generating this wonderful piece of data. Before I go ahead & get the resources for the local storage of this gigantic assembly, I was wondering if a BLAST/Diamond search for my gene of interest is going to be feasible if I use this resource as my BLAST database. I haven't worked with such a big BLAST database before and so I was wo

[2022-11-09 14:49] rchikhi commented on #260
You could run minimap2 with that database as query and your gene of interest as reference (important not to switch ref<>query here).

[2022-11-09 15:46] ababaian commented on #260
Everything is possible with enough motivation :D
But seriously, it could take quite a bit of time to generate the BLAST or diamond database, but it is feasible. Alternative would be to run `hmmscan` with your sequence as input and that could work well too.

[2022-11-10 05:24] Anto007 commented on #260
Many thanks for your useful suggestions @rchikhi and @ababaian. I think I'll give it a try with minimap2, nhmmer and also mmseqs2. I noticed that you have listed out all the accession numbers of datasets that were used in generating this assembly and I was curious to know if you've got the sample source biome information (for e.g., soil, ocean/human microbiome etc.) for these listed out somewhere

[2022-11-10 10:17] FBeguier opened #265 "palmID viral RdRp analysis crash"

[2022-11-10 14:35] ababaian commented on #265
is this resolved now?

[2022-11-10 14:40] FBeguier commented on #265
Hi,

I tought it was resolved (it worked for one analysis), that's why I deleted my post.
But I try antoher one and I just received the same error message.

This is the end of the error message:
![image](https://user-images.githubusercontent.com/117846552/201120649-2679be36-5ea6-4bbf-a0e3-f556177d2c34.png)

[2022-11-10 14:42] ababaian commented on #265
welcome to github :) it helps to not delete information and simply close the issue when it's done.

Can you please post the hash link so I can take a look at the full error logs and see what's going on.

[2022-11-10 14:47] FBeguier commented on #265
Oops yes, sorry for that !

I'm not a bioinformaticien.. what is the hash link ?

Here is the link of the message I just obtained :
[(https://serratus.io/palmid?hash=3438969b1ac28e9d40bcd82a923b1771a0f43fb3)](url)

[2022-11-10 14:57] ababaian commented on #265
Are you certain the input sequence is an RdRp? `palmscan` does not seem to be retrieving a palmprint domain and MUSCLE is not finding any alignments.

[2022-11-10 14:59] ababaian commented on #265
I'm mostly certain it's not an RdRp sequence input, in the closest virus "Mute Swan Tombu", ORF2 is the RdRp (see: https://serratus.io/palmid?hash=b6a0e63f3e1a559c18823852f9e97000284c207b) but the sequence you are inputting matches ORF1, which is another protein.

palmID works strictly for virus RdRp sequences, you will not get any output if you do not enter an RdRp.

[2022-11-10 15:04] FBeguier commented on #265
Actually, I don't know, I check different viral sequences for RdRp presence by using Serratus.

So if I receive this message, it means that there is no RdRp in my sequence ?

[2022-11-10 15:05] ababaian commented on #265
That's mostly correct yes, if you REALLY think there should be an RdRp, you can check InterPro which has higher sensitivity: https://www.ebi.ac.uk/interpro/result/InterProScan/

[2022-11-10 15:05] #265 closed

[2022-11-10 15:08] FBeguier commented on #265
Ok perfect, thanks a lot for your help !

[2022-11-16 06:58] Anto007 commented on #260
Sorry, I'm a bit confused about one vital piece of info- @rchikhi could you confirm if this `rdva_v0.2.fa.lz4` represents not only metatranscriptomes but also metagenomes? From a quick look, it definitely seems so? In your Twitter thread, you seemed to suggest that the assembly is represented by metatranscriptomes or perhaps I interpreted your tweet wrongly?

[2022-11-16 20:43] ababaian commented on #260
These will contain metatranscriptomes, RNAseq, metagenomes and possibly a few more exotic sequence datasets (ChIP-seq). Selection was automated based on sequences which were detected within the library (i.e. Coronavirus reads), as human annotation of data is faulty. Buyer beware.